@media only screen and (min-width: 768px) and (max-width: 1024px){
	.breadcrumb>ul>li>a{
		font-size: 12px!important;
	}
	.breadcrumb>ul>li>a>.step{
		width: 20px!important;
		height: 20px!important;
		margin-top: -2px!important;
		line-height: 18px!important;
		margin-left: 49%!important;
		margin-right: 51% !important;
	}
	.breadcrumb>ul>li>a>.txt-header{
		margin-top: -38px!important;
		margin-left: -18%;
		position: absolute;
	}

}
@media only screen and (max-width: 768px){
	.breadcrumb>ul>li>a>.txt-header{
		display: none!important;
	}
}



#slider span:nth-child(2) {
	/*display: none;*/
}

.ui-slider .ui-slider-range {
	background-color: #3db660!important;

}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: 1px solid #c5c5c5;
	background: #3db660!important;
	font-weight: normal;
	border-radius: 50%;
	color: #454545;
	width: 20px!important;
	height: 20px!important;
	margin-top: -2px!important;

}
.btn-max-slider {
	background: #3db660!important;
}
.package-item{
	position: relative;
}
.img-on{
	position: absolute;
	clear: right;
	right: -3px;
	margin-top: -51%;
}
/*----------------------chon goi cuoc dich vu-----------------*/
.prev-left {
	margin-top: -28%!important;
}
.prev-right {
	margin-top: -28%!important;
}
.img-slider-content{
	width: 100%;
	height: 202px;
	border: 1px solid #ededed;
}
.img-center{
	margin: 55px auto;
}
.checkone{
	border-radius: 0px;
	border: 1px solid #3db660;
	background-color: white;
	color: #3db660;
	height: 28px;
	width: 72px;
}
/*.checkone:hover{*/
	/*color: #3db660!important;*/
/*}*/
.highlight{
	background-image: url(../images/WebOmni_DKCoDinh_03.jpg);
	background-repeat: no-repeat;
	color: transparent!important;
}
.btn-bottom{
	padding: 7px 25px!important;
}
.txt-boder{
	font-weight: bold !important;
	margin-top: 13px!important;
	margin-bottom: 5px!important;
}
.panel-bottom{
	padding-bottom: 0px!important;

}
.img-bill{
	height: 129px;
	width: 100%;
}
.img-center-bill{
	margin: 37px 38%

}
.panel_bottom{
	margin-bottom: 14px!important;
}

@media (max-width: 320px){
	.prev-left {
		margin-top: -88%!important;
	}
	.prev-right {
		margin-top: -88%!important;
	}
	.checkone{
		width: 100%;
	}
}
