body {
  font-family: "Roboto"; }

/*
 * Common stuffs
 */
.no-border {
  border: 0 !important; }

.no-border-radius {
  border-radius: 0 !important; }

.no-background {
  background: none !important; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.no-padding-left-right {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.vt-icons {
  background: url(../images/vt-icons.png?v1.0.5) no-repeat top left;
  display: inline-block; }
  .vt-icons.vt-user {
    width: 98px;
    height: 102px; }
  .vt-icons.vt-wifi {
    width: 41px;
    height: 34px;
    background-position: -3px -112px; }
  .vt-icons.vt-network {
    width: 47px;
    height: 33px;
    background-position: -2px -153px; }
  .vt-icons.vt-phone {
    width: 42px;
    height: 33px;
    background-position: -50px -113px; }
  .vt-icons.vt-ip-phone {
    width: 34px;
    height: 33px;
    background-position: -57px -153px; }
  .vt-icons.vt-tv {
    width: 33px;
    height: 31px;
    background-position: -6px -191px; }
  .vt-icons.vt-sim {
    width: 56px;
    height: 71px;
    background-position: -2px -228px; }
  .vt-icons.vt-store {
    width: 38px;
    height: 38px;
    background-position: -61px -223px; }
  .vt-icons.vt-home {
    width: 41px;
    height: 39px;
    background-position: -59px -264px; }
    .vt-icons.vt-home.vt-home2 {
      margin-bottom: 60px; }
  .vt-icons.vt-otp {
    width: 40px;
    height: 47px;
    background-position: -3px -308px; }
  .vt-icons.vt-sms {
    width: 38px;
    height: 47px;
    background-position: -49px -308px; }
  .vt-icons.vt-green-tick-circle {
    width: 20px;
    height: 20px;
    background-position: -46px -358px; }
  .vt-icons.vt-thin-green-tick-circle {
    width: 18px;
    height: 18px;
    background-position: -25px -359px; }
  .vt-icons.vt-question-mark-circle {
    width: 18px;
    height: 18px;
    background-position: -4px -359px; }

.btn-submit {
  color: #fff;
  border-radius: 0;
  border: 0;
  background: #3db660;
  padding: 10px 96px;
  text-transform: uppercase;
  transition: all 0.5s;
  margin-bottom: 20px; }
  .btn-submit:hover {
    background: #5dc97c;
    color: #fff; }

.btn-view {
  color: #fff;
  border-radius: 0;
  border: 0;
  background: #3a918c;
  padding: 7px 35px;
  text-transform: capitalize;
  transition: all 0.5s;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500; }
  .btn-view:hover {
    background: #49b5af;
    color: #fff; }

.btn-select {
  color: #3db660;
  border-radius: 0;
  border: solid 1px #3db660;
  background: #fff;
  padding: 7px 35px;
  text-transform: capitalize;
  transition: all 0.5s;
  font-size: 13px;
  font-weight: 500; }
  .btn-select:hover {
    background: #3db660;
    color: #fff; }

label.required:after {
  content: '*';
  color: #e51f1f;
  display: inline-block;
  margin-left: 5px; }

.panel-default.no-border-radius .panel-heading {
  font-size: 16px;
  font-weight: 500;
  color: #1e2e2d;
  max-height: 50px; }
  .panel-default.no-border-radius .panel-heading .total-price {
    color: #3b918d;
    margin-left: 15px; }

.price {
  color: #3a918c; }

.light-gray {
  background: #f3f3f3; }

.sim-card {
  background: url(../images/sim-bg.png) no-repeat center center;
  background-size: 100%;
  max-width: 313px;
  height: 199px;
  position: relative;
  margin: 0 auto; }
  .sim-card .number {
    position: absolute;
    bottom: 25px;
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    width: 100%; }

.text-green {
  color: #3db660;
  font-size: 15px;
  text-transform: capitalize;
  text-decoration: none; }
  .text-green:hover {
    color: #3db660;
    text-decoration: underline; }

.modal-490 {
  max-width: 490px; }

.otp-fields {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px; }
  .otp-fields input {
    border: 0;
    border-bottom: solid 1px #cdcccc;
    box-shadow: none;
    border-radius: 0; }

.other-number {
  max-height: 100px; }
  .other-number .text-center {
    margin-top: -43px; }
    .other-number .text-center .otp-fields .row div {
      margin: 16px;
      margin-left: 54px; }
      .other-number .text-center .otp-fields .row div input {
        font-size: 23px;
        text-align: center; }
      .other-number .text-center .otp-fields .row div span {
        margin-top: -11%;
        font-size: 16px; }

/* Pagination */
.pagination a {
  border-radius: 0 !important;
  border: solid 1px #dddddd;
  margin-right: 5px;
  color: #828181 !important;
  font-size: 13px; }
.pagination .active a {
  color: #fff !important; }

/* Star rating plugin - Fontawesome theme */
.br-theme-fontawesome-stars {
  display: inline-block; }

.br-theme-fontawesome-stars .br-widget {
  height: 28px;
  white-space: nowrap; }

.br-theme-fontawesome-stars .br-widget a {
  font: normal normal normal 20px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 5px; }

.br-theme-fontawesome-stars .br-widget a:after {
  content: '\f005';
  color: #d2d2d2; }

.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #f6da00; }

.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #f6da00; }

.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none; }

.br-theme-fontawesome-stars .br-readonly a {
  cursor: default; }

.wizard-progress {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 5px 0; }
  .wizard-progress li {
    float: left;
    text-align: center;
    position: relative;
    width: 33%; }
    .wizard-progress li:first-of-type .step-num:before, .wizard-progress li:last-of-type .step-num:after {
      display: none; }
  .wizard-progress .step-name {
    display: block;
    height: 32px;
    vertical-align: bottom;
    text-align: center; }
  .wizard-progress .step-num {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #a9a9a9;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block; }
    .wizard-progress .step-num:before, .wizard-progress .step-num:after {
      content: "";
      display: block;
      background: #a9a9a9;
      height: 2px;
      width: 50%;
      position: absolute;
      bottom: 12px;
      z-index: 0; }
    .wizard-progress .step-num:before {
      left: -8px; }
    .wizard-progress .step-num:after {
      left: 50%;
      margin-left: 8px; }
  .wizard-progress .done .step-num {
    background: url(../images/vt-icons.png?v1.0.6) no-repeat top left;
    background-position: -46px -358px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 0; }
    .wizard-progress .done .step-num:before {
      left: -10px;
      bottom: 16px; }
    .wizard-progress .done .step-num:after {
      left: 50%;
      margin-left: 10px;
      bottom: 16px; }

header {
  line-height: 58px; }
  header .logo {
    margin-top: 20px;
    display: inline-block; }
  header .fa-circle:before {
    color: #3a918c; }
  header .top-link li {
    margin-right: 30px;
    font-size: 14px; }
    header .top-link li:last-child {
      margin-right: 0; }
    header .top-link li a, header .top-link li strong {
      color: #3a918c; }
  header nav.breadcrumb {
    padding: 0;
    border-radius: 0;
    margin-bottom: 30px;
    background: linear-gradient(90deg, #f7f7f7 50%, #ebebeb 50%);
    text-align: center;
    height: 55px; }
    header nav.breadcrumb ul {
      list-style: none;
      line-height: 55px;
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%; }
      header nav.breadcrumb ul li {
        display: block;
        width: 33.3333333%;
        float: left; }
        header nav.breadcrumb ul li.step-change {
          width: 20% !important; }
          header nav.breadcrumb ul li.step-change a:before {
            max-width: 65px;
            left: -20px; }
          header nav.breadcrumb ul li.step-change a span.step {
            margin-left: 30px; }
        header nav.breadcrumb ul li a {
          display: block;
          height: 55px;
          text-align: center;
          position: relative;
          margin: 0;
          font-size: 14px;
          text-decoration: none;
          color: #787878;
          background: #ebebeb; }
          header nav.breadcrumb ul li a:after {
            content: "";
            position: absolute;
            z-index: 2;
            transform: scale(0.707) rotate(45deg);
            box-shadow: 2px -2px 0 0px white, 3px -3px 0 2px white;
            border: none;
            right: -25px;
            width: 55px;
            height: 55px;
            top: 0;
            background: #ebebeb; }
          header nav.breadcrumb ul li a:before {
            content: '';
            max-width: 180px;
            height: 2px;
            background: #a9a9a9;
            display: block;
            position: absolute;
            top: 50%;
            left: -86px;
            width: 100%;
            z-index: 100; }
          header nav.breadcrumb ul li a .fa-angle-left {
            position: absolute;
            top: 12px;
            left: 15px;
            font-size: 30px;
            color: #3a918c; }
        header nav.breadcrumb ul li:first-child a:before {
          display: none; }
        header nav.breadcrumb ul li:last-child a:after {
          display: none; }
        header nav.breadcrumb ul li .step {
          width: 25px;
          height: 25px;
          line-height: 25px;
          display: inline-block;
          border-radius: 50%;
          border: solid 1px #a9a9a9;
          color: #a9a9a9;
          text-align: center;
          font-size: 12px;
          font-weight: bold;
          margin-right: 15px;
          margin-top: 15px;
          position: relative;
          z-index: 10; }
        header nav.breadcrumb ul li.done a {
          color: #000; }
        header nav.breadcrumb ul li.done .step {
          color: #fff;
          font: normal normal normal 14px/1 FontAwesome;
          text-indent: -7px;
          overflow: hidden;
          border: 0;
          position: relative;
          top: 7px;
          margin-top: 0; }
          header nav.breadcrumb ul li.done .step:after {
            content: "\f058";
            color: #3db660;
            font-size: 28px; }
        header nav.breadcrumb ul li.current a {
          color: #3a918c;
          background: #f7f7f7; }
          header nav.breadcrumb ul li.current a:after {
            background: #f7f7f7; }
        header nav.breadcrumb ul li.current .step {
          color: #fff;
          background: #3a918c;
          border-color: #3a918c; }

/* Begin - section-20 */
.section-20 {
  padding: 20px 0;
  background-color: #f3f3f3;
  margin-top: 20px; }

.section-20 .item-01 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-position: bottom right;
  background-repeat: no-repeat;
  /*background-size: auto 100%;*/ }

.section-20 .item-01 .images {
  text-align: center;
  /* font-size: 70px; */
  color: #676767;
  float: left;
  margin-right: 10px; }

.section-20 .no-border {
  border-style: none; }

.section-20 .item-01 .title {
  text-align: left;
  font-size: 25px;
  line-height: 32px;
  padding: 15px 0;
  overflow: hidden;
  font-weight: normal;
  color: #000000; }

.section-20 .tab-content {
  display: none; }

.section-20 .item-01 .meta a {
  color: #00918d; }

.section-20 .item-01 .meta a:hover {
  color: #f79420; }

.section-20 .item-01 .more {
  font-size: 15px;
  text-align: left; }

/* End - section-20 */
/* Begin - section-52 */
.section-52 {
  padding: 10px 0; }

@media (max-width: 768px) {
  .section-52 {
    display: none; }

  #package-slideshow2 .package-item {
    max-width: 222px !important; }

  .ic-date-range {
    position: absolute;
    margin-top: -5%;
    margin-left: 89%; }

  .ic-CMT {
    margin-top: -15%;
    margin-left: 94%; } }
.section-52 .item-01 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-position: bottom right;
  background-repeat: no-repeat;
  /*background-size: auto 100%;*/
  border-right: 1px solid #e7e5e5; }

.section-52 .item-01 .images {
  text-align: left;
  /* font-size: 70px; */
  color: #676767;
  padding: 10px 0; }

.section-52 .item-01 .images img {
  margin-right: 5px; }

.section-52 .no-border {
  border-style: none !important; }

.section-52 .item-01 .title {
  text-align: left;
  font-size: 18px;
  line-height: 32px;
  overflow: hidden;
  font-weight: normal;
  color: #000000; }

@media (max-width: 769px) {
  .section-52 .item-01 {
    border-style: none;
    margin-top: 10px;
    margin-bottom: 0; }

  .section-52 .item-01 .title {
    font-size: 20px !important;
    line-height: 20px !important;
    display: inline-block;
    padding: 10px 0 0 0 !important; }

  #package-slideshow2 .package-item {
    max-width: 222px; } }
/* End - section-52 */
/* Begin - section-26 */
.section-26 {
  padding: 0;
  background-color: #e6e6e5; }

.section-26 .item-01 {
  font-size: 25px;
  color: #000000;
  float: right !important; }

@media (min-width: 992px) {
  .section-26 .item-01 {
    font-size: 20px; } }
/* End - section-26 */
/*
 * Mua sim so -thong tin goi cuoc
 */
.vtModal .modal-content {
  border-radius: 3px;
  border: 0;
  box-shadow: none; }
  .vtModal .modal-content .modal-header {
    background: #3a918d; }
    .vtModal .modal-content .modal-header .modal-title {
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-weight: 500; }
    .vtModal .modal-content .modal-header .close {
      color: #fff;
      opacity: 1; }
.vtModal .package-name-wrapper {
  margin-bottom: 10px; }
  .vtModal .package-name-wrapper .package-name {
    font-size: 20px;
    margin: 0; }
.vtModal .package-info {
  color: #787878;
  font-size: 14px; }
  .vtModal .package-info-title {
    font-size: 18px;
    margin-top: 35px; }
.vtModal .nav-tabs {
  background: #e6e6e6;
  border: 0;
  margin-top: 15px; }
.vtModal .nav-tabs > li {
  margin-bottom: 0;
  width: 33.33333333%;
  text-align: center; }
  .vtModal .nav-tabs > li > a {
    padding: 15px 0;
    color: #000;
    font-size: 18px;
    border-radius: 0;
    border: 0;
    margin: 0; }
.vtModal .nav-tabs > li.active > a,
.vtModal .nav-tabs > li.active > a:focus,
.vtModal .nav-tabs > li.active > a:hover {
  background: #f3f3f3;
  border: 0; }
.vtModal .tab-content {
  background: #f3f3f3;
  padding: 25px 15px 15px 25px; }
  .vtModal .tab-content .tab-pane {
    max-height: 330px;
    padding-right: 10px;
    overflow: auto; }
.vtModal p.text-muted {
  color: #8d8d8d;
  font-size: 14px; }

/*
 * mua sim so -Thanh cong
 */
.order-sim-successful {
  font-size: 15px; }
  .order-sim-successful h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 27px 0; }
  .order-sim-successful .order-status {
    padding: 40px 0; }
    .order-sim-successful .order-status .order-number {
      color: #ff912f; }
  .order-sim-successful .order-info {
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    padding: 40px 0 30px 0;
    margin-bottom: 40px; }
    .order-sim-successful .order-info .order-note {
      color: #787878;
      font-size: 13px;
      margin-top: 30px; }
  .order-sim-successful .text-green {
    text-transform: uppercase; }

/*
 * Mua sim so -Xac nhan thanh cong
 */
.order-confirmation h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0;
  color: #000; }
.order-confirmation .order-status {
  color: #787878;
  font-size: 13px;
  margin-bottom: 30px; }
.order-confirmation .order-row {
  border-bottom: solid 1px #f2f1f1;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 13px;
  color: #1e2e2d; }
  .order-confirmation .order-row.last {
    border-bottom: 0;
    padding-bottom: 0; }
  .order-confirmation .order-row .title {
    font-size: 15px;
    font-weight: 500; }
  .order-confirmation .order-row .name {
    font-weight: 500; }
  .order-confirmation .order-row .price {
    margin-left: 15px; }
.order-confirmation .customer-info {
  margin: 15px 0 112px 0;
  color: #1e2e2d; }
  .order-confirmation .customer-info li {
    margin-bottom: 20px;
    font-size: 13px;
    clear: both;
    display: block; }
    .order-confirmation .customer-info li strong {
      color: #1e2e2d;
      font-size: 15px; }
    .order-confirmation .customer-info li label.col-xs-4,
    .order-confirmation .customer-info li label.col-lg-3 {
      padding: 0;
      font-weight: normal; }

/*
 * Lua chon dich vu  CDBR
 */
.service-selection .panel-body {
  padding: 15px 6px; }
  .service-selection .panel-body > .row {
    margin-left: 0;
    margin-right: 0; }
.service-selection .note {
  color: #787878;
  font-size: 16px;
  margin: 15px 0 30px 0; }
.service-selection .service-items .col-sm-6,
.service-selection .service-items .col-md-4 {
  padding: 0 7px; }
.service-selection .service-item {
  display: block;
  line-height: 66px;
  border: solid 1px #fff;
  text-decoration: none;
  color: #000;
  padding: 0 0 0 25%;
  margin-bottom: 15px; }
  .service-selection .service-item:hover {
    border: solid 1px #f2f1f1;
    background-color: #f9f9f9; }
  .service-selection .service-item.selected {
    background-color: #ceeae8;
    background-image: url(../images/green-tick.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    border: solid 1px #f2f1f1; }
  .service-selection .service-item > i {
    position: absolute;
    top: 16px;
    left: 8%; }

/*
 * Step-3 Dong cuoc co dinh
 */
.step-3-dongcuoctruoc .panel .panel-body {
  margin-top: 15px; }
  .step-3-dongcuoctruoc .panel .panel-body .a-step-3 {
    text-decoration: none; }
    .step-3-dongcuoctruoc .panel .panel-body .a-step-3 .package-item {
      border: solid 1px #ccc;
      padding: 8px;
      margin: 8px;
      width: 47%; }
      .step-3-dongcuoctruoc .panel .panel-body .a-step-3 .package-item .title-step-3 {
        padding-top: 10px;
        margin: 0px;
        float: left;
        font-weight: 500;
        color: #000; }
      .step-3-dongcuoctruoc .panel .panel-body .a-step-3 .package-item .price-step-3 {
        padding-top: 10px;
        float: right;
        font-weight: 500;
        color: #3db660; }
      .step-3-dongcuoctruoc .panel .panel-body .a-step-3 .package-item .clearfix {
        height: 30px; }
      .step-3-dongcuoctruoc .panel .panel-body .a-step-3 .package-item .vat-step-3 {
        color: #070707;
        font-size: 12px;
        opacity: 0.8; }
    .step-3-dongcuoctruoc .panel .panel-body .a-step-3 .step-3-selected {
      background-color: #3db660; }
      .step-3-dongcuoctruoc .panel .panel-body .a-step-3 .step-3-selected .title-step-3 {
        color: #fff; }
      .step-3-dongcuoctruoc .panel .panel-body .a-step-3 .step-3-selected .price-step-3 {
        color: #fff; }
      .step-3-dongcuoctruoc .panel .panel-body .a-step-3 .step-3-selected .vat-step-3 {
        color: #fff;
        opacity: 1; }
  .step-3-dongcuoctruoc .panel .panel-body .package-summary {
    font-weight: 500; }
    .step-3-dongcuoctruoc .panel .panel-body .package-summary tr {
      margin-top: 10px; }
    .step-3-dongcuoctruoc .panel .panel-body .package-summary .td-img .img {
      padding-bottom: 15px; }
    .step-3-dongcuoctruoc .panel .panel-body .package-summary .info-package-name, .step-3-dongcuoctruoc .panel .panel-body .package-summary .value-package-name {
      padding-top: 10px;
      padding-bottom: 10px; }
    .step-3-dongcuoctruoc .panel .panel-body .package-summary .price, .step-3-dongcuoctruoc .panel .panel-body .package-summary .total-price {
      color: #3a918c;
      font-size: 16px; }
.step-3-dongcuoctruoc .fast-set td {
  border: none; }
.step-3-dongcuoctruoc .fast-set .vat-set {
  opacity: 0.8; }
.step-3-dongcuoctruoc .fast-set .price-fast {
  color: #3db660;
  font-weight: 500;
  opacity: 0.8; }
.step-3-dongcuoctruoc .fast-set .set label, .step-3-dongcuoctruoc .fast-set .day label, .step-3-dongcuoctruoc .fast-set .hour label {
  font-weight: 500; }
.step-3-dongcuoctruoc .fast-set .set [type="radio"]:checked,
.step-3-dongcuoctruoc .fast-set .set [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }
.step-3-dongcuoctruoc .fast-set .set [type="radio"]:checked + label,
.step-3-dongcuoctruoc .fast-set .set [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block; }
.step-3-dongcuoctruoc .fast-set .set [type="radio"]:checked + label:before,
.step-3-dongcuoctruoc .fast-set .set [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }
.step-3-dongcuoctruoc .fast-set .set [type="radio"]:checked + label:before {
  border: 1px solid #05928d; }
.step-3-dongcuoctruoc .fast-set .set [type="radio"]:checked + label:after,
.step-3-dongcuoctruoc .fast-set .set [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #05928d;
  position: absolute;
  top: 3.25px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.step-3-dongcuoctruoc .fast-set .set [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }
.step-3-dongcuoctruoc .fast-set .set label {
  margin-left: 7px;
  margin-top: 5px; }
.step-3-dongcuoctruoc .fast-set .day label {
  padding-left: 35px;
  padding-top: 7px; }
.step-3-dongcuoctruoc .fast-set .day .ic-date-range, .step-3-dongcuoctruoc .fast-set .hour .ic-date-range {
  position: absolute;
  margin-top: -12%;
  margin-left: 75%; }
.step-3-dongcuoctruoc .fast-set .day input, .step-3-dongcuoctruoc .fast-set .hour input {
  border-radius: 0px; }
.step-3-dongcuoctruoc .fast-set .td-note {
  padding-left: 30px;
  text-align: justify;
  opacity: 0.8;
  font-style: italic; }

/*
 * Step-1 Chon goi cuoc
 */
.step-1-chongoicuoc .panel .info-user {
  padding-left: 15px;
  color: #070707;
  opacity: 0.6;
  text-decoration: none;
  font-weight: 100; }
  .step-1-chongoicuoc .panel .info-user .fa-user {
    padding-right: 10px;
    font-size: 18px; }
.step-1-chongoicuoc .panel .panel-body {
  margin-top: 15px; }
  .step-1-chongoicuoc .panel .panel-body .a-step-3 {
    text-decoration: none; }
    .step-1-chongoicuoc .panel .panel-body .a-step-3 .package-item {
      border: solid 1px #ccc;
      padding: 8px;
      margin: 8px;
      width: 47%; }
      .step-1-chongoicuoc .panel .panel-body .a-step-3 .package-item .title-step-3 {
        padding-top: 10px;
        margin: 0px;
        float: left;
        font-weight: 500;
        color: #000; }
      .step-1-chongoicuoc .panel .panel-body .a-step-3 .package-item .price-step-3 {
        padding-top: 10px;
        float: right;
        font-weight: 500;
        color: #3db660; }
      .step-1-chongoicuoc .panel .panel-body .a-step-3 .package-item .clearfix {
        height: 30px; }
      .step-1-chongoicuoc .panel .panel-body .a-step-3 .package-item .vat-step-3 {
        color: #070707;
        font-size: 12px;
        opacity: 0.6; }
      .step-1-chongoicuoc .panel .panel-body .a-step-3 .package-item .step-3-bottom {
        margin-bottom: 0px; }
    .step-1-chongoicuoc .panel .panel-body .a-step-3 .step-3-selected {
      background-color: #3db660; }
      .step-1-chongoicuoc .panel .panel-body .a-step-3 .step-3-selected .title-step-3 {
        color: #fff; }
      .step-1-chongoicuoc .panel .panel-body .a-step-3 .step-3-selected .price-step-3 {
        color: #fff; }
      .step-1-chongoicuoc .panel .panel-body .a-step-3 .step-3-selected .vat-step-3 {
        color: #fff;
        opacity: 1; }
  .step-1-chongoicuoc .panel .panel-body .package-summary {
    font-weight: 500; }
    .step-1-chongoicuoc .panel .panel-body .package-summary tr {
      margin-top: 10px; }
    .step-1-chongoicuoc .panel .panel-body .package-summary .td-img .img {
      padding-bottom: 15px; }
    .step-1-chongoicuoc .panel .panel-body .package-summary .info-package-name, .step-1-chongoicuoc .panel .panel-body .package-summary .value-package-name {
      padding-top: 10px;
      padding-bottom: 0px; }
    .step-1-chongoicuoc .panel .panel-body .package-summary .info-package-name .note {
      font-weight: 400;
      opacity: 0.6; }
    .step-1-chongoicuoc .panel .panel-body .package-summary .value-package-name {
      color: #3a918c;
      font-size: 16px; }
.step-1-chongoicuoc .same-account {
  font-size: 16px;
  color: #3a918c;
  margin-bottom: 20px; }
.step-1-chongoicuoc .fast-set td {
  border: none; }
.step-1-chongoicuoc .fast-set .vat-set {
  opacity: 0.6; }
.step-1-chongoicuoc .fast-set .price-fast {
  color: #3db660;
  font-weight: 500;
  opacity: 0.6; }
.step-1-chongoicuoc .fast-set .set label, .step-1-chongoicuoc .fast-set .day label, .step-1-chongoicuoc .fast-set .hour label {
  font-weight: 500; }
.step-1-chongoicuoc .fast-set .set [type="radio"]:checked,
.step-1-chongoicuoc .fast-set .set [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }
.step-1-chongoicuoc .fast-set .set [type="radio"]:checked + label,
.step-1-chongoicuoc .fast-set .set [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block; }
.step-1-chongoicuoc .fast-set .set [type="radio"]:checked + label:before,
.step-1-chongoicuoc .fast-set .set [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }
.step-1-chongoicuoc .fast-set .set [type="radio"]:checked + label:before {
  border: 1px solid #05928d; }
.step-1-chongoicuoc .fast-set .set [type="radio"]:checked + label:after,
.step-1-chongoicuoc .fast-set .set [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #05928d;
  position: absolute;
  top: 3.25px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.step-1-chongoicuoc .fast-set .set [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }
.step-1-chongoicuoc .fast-set .set label {
  margin-left: 7px;
  margin-top: 5px; }
.step-1-chongoicuoc .fast-set .day label {
  padding-left: 35px;
  padding-top: 7px; }
.step-1-chongoicuoc .fast-set .day .ic-date-range, .step-1-chongoicuoc .fast-set .hour .ic-date-range {
  position: absolute;
  margin-top: -12%;
  margin-left: 75%; }
.step-1-chongoicuoc .fast-set .day input, .step-1-chongoicuoc .fast-set .hour input {
  border-radius: 0px; }
.step-1-chongoicuoc .fast-set .td-note {
  padding-left: 30px;
  text-align: justify;
  opacity: 0.8;
  font-style: italic; }

/*
 * Dang ki Internet
 */
.register-internet .form-horizontal label,
.register-sim .form-horizontal label {
  font-weight: normal; }
.register-internet .form-horizontal .panel-body.big-padding,
.register-sim .form-horizontal .panel-body.big-padding {
  padding: 15px 90px; }
.register-internet .form-horizontal .form-control,
.register-sim .form-horizontal .form-control {
  border-radius: 0; }
.register-internet .form-horizontal .text-address,
.register-sim .form-horizontal .text-address {
  font-style: italic;
  color: #3a918c;
  text-decoration: none; }
  .register-internet .form-horizontal .text-address img,
  .register-sim .form-horizontal .text-address img {
    padding-bottom: 8px; }
.register-internet .package-summary,
.register-sim .package-summary {
  color: #1e2e2d;
  font-size: 15px; }
  .register-internet .package-summary .package-name,
  .register-sim .package-summary .package-name {
    font-weight: 500;
    margin-top: 20px;
    font-size: 15px; }
  .register-internet .package-summary .total-price,
  .register-sim .package-summary .total-price {
    color: #3a918c;
    font-size: 17px;
    font-weight: 700; }
  .register-internet .package-summary p,
  .register-sim .package-summary p {
    margin-bottom: 0;
    font-size: 13px;
    color: #787878; }
  .register-internet .package-summary td,
  .register-sim .package-summary td {
    padding: 15px 0; }

.register-sim .panel-heading small {
  color: #787878;
  font-size: 13px; }
.register-sim .nav-tabs {
  background: #f3f3f3;
  border: 0; }
.register-sim .nav-tabs > li {
  margin-bottom: 0;
  text-align: center; }
  .register-sim .nav-tabs > li > a {
    padding: 30px 0;
    color: #000;
    font-size: 15px;
    border-radius: 0;
    border: 0 !important;
    margin: 0;
    background: #fff; }
    .register-sim .nav-tabs > li > a .tab-title {
      font-weight: 500; }
      .register-sim .nav-tabs > li > a .tab-title span {
        color: #ff912f;
        font-size: 14px; }
    .register-sim .nav-tabs > li > a .tab-subtitle {
      font-size: 13px;
      color: #3db660; }
    .register-sim .nav-tabs > li > a .text-sub-prove {
      margin-top: 5px;
      text-transform: uppercase; }
      .register-sim .nav-tabs > li > a .text-sub-prove img {
        margin-right: 5px;
        margin-top: -5px; }
    .register-sim .nav-tabs > li > a p {
      margin-bottom: 0px; }
.register-sim .nav-tabs > li.active > a,
.register-sim .nav-tabs > li.active > a:focus,
.register-sim .nav-tabs > li.active > a:hover {
  background: #f3f3f3; }
.register-sim .tab-content {
  background: #f3f3f3; }
  .register-sim .tab-content #pay-at-home {
    padding: 25px 100px 15px 60px; }
.register-sim .collapse-link {
  color: #5ab957;
  text-decoration: none; }
  .register-sim .collapse-link .fa-plus-circle {
    display: none; }
  .register-sim .collapse-link.collapsed .fa-plus-circle {
    display: inline-block; }
  .register-sim .collapse-link.collapsed .fa-minus-circle {
    display: none; }
.register-sim #package-slideshow .package-item {
  margin: 0 5px; }
  .register-sim #package-slideshow .package-item .package-name {
    font-weight: 500;
    margin-top: 20px;
    font-size: 15px; }
  .register-sim #package-slideshow .package-item .btn-select {
    margin-top: 30px; }
  .register-sim #package-slideshow .package-item .package-description {
    font-size: 13px;
    color: #787878; }
.register-sim .slick-prev,
.register-sim .slick-next {
  border: solid 1px #cdcdcd;
  background: none;
  padding: 0 6px;
  outline: none; }
  .register-sim .slick-prev:hover,
  .register-sim .slick-next:hover {
    border: solid 1px #5ab957;
    color: #5ab957; }
.register-sim .form-control-feedback {
  top: 8px;
  right: 22px;
  pointer-events: initial; }
.register-sim .tooltip {
  width: 195px; }
  .register-sim .tooltip-inner {
    padding: 15px 30px;
    font-size: 12px !important; }

/*
 * Tim sim so -Khong co ket qua
 */
.search-sim .search-form {
  padding: 15px; }
  .search-sim .search-form .form-control {
    border-radius: 0; }
  .search-sim .search-form .help-block {
    font-size: 13px; }
    .search-sim .search-form .help-block span {
      color: #3b918d; }
.search-sim .search-result {
  padding-top: 80px;
  padding-bottom: 80px; }
  .search-sim .search-result h3 {
    font-size: 20px;
    font-weight: 500; }
  .search-sim .search-result .text-muted {
    font-size: 13px; }
  .search-sim .search-result .result-item {
    border: solid 1px #f2f1f1;
    padding: 20px 15px;
    margin-bottom: 30px; }
    .search-sim .search-result .result-item h4 {
      margin: 0 0 10px 0;
      font-size: 18px;
      font-weight: 500;
      color: #1e2e2d; }
    .search-sim .search-result .result-item .btn-select {
      margin-top: 6px; }

.tab-gray-bg {
  background: #e6e6e6; }

.nav-tabs.tab-gray-icon {
  background: #e6e6e6;
  border: 0;
  margin-top: 15px; }

.nav-tabs.tab-gray-icon > li {
  margin-bottom: 0;
  text-align: center; }
  .nav-tabs.tab-gray-icon > li > a {
    padding: 15px;
    color: #000;
    font-size: 18px;
    border-radius: 0;
    border: 0;
    margin: 0; }
  .nav-tabs.tab-gray-icon > li.active > a, .nav-tabs.tab-gray-icon > li.active > a:focus, .nav-tabs.tab-gray-icon > li.active > a:hover {
    background: #f3f3f3;
    border: 0; }

/*
 * Lich su dat hang
 */
.order-history,
.order-history-detail {
  padding-top: 60px; }

.sidebar.left h3 {
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 30px; }
.sidebar.left .nav-stacked.nav-pills > li {
  border-bottom: solid 1px #e7e6e6; }
  .sidebar.left .nav-stacked.nav-pills > li:last-child {
    border-bottom: 0; }
  .sidebar.left .nav-stacked.nav-pills > li a {
    color: #a7a7a7;
    padding: 10px 5px; }
    .sidebar.left .nav-stacked.nav-pills > li a:hover {
      background: none; }
.sidebar.left .nav-stacked.nav-pills > li.active > a, .sidebar.left .nav-stacked.nav-pills > li.active > a:focus, .sidebar.left .nav-stacked.nav-pills > li.active > a:hover {
  background-color: #fff;
  color: #5ab957; }

.table-history-wrapper {
  padding: 50px 40px 15px 20px; }

.table-history {
  color: #787878;
  font-size: 13px; }
  .table-history:before {
    content: '';
    position: absolute;
    width: 1px;
    background: #e7e6e6;
    height: 68%;
    top: 62px;
    left: 0; }
  .table-history tr:first-child td {
    border-top: 0; }
  .table-history tr:last-child td {
    border-bottom: 1px solid #ddd; }
  .table-history tr td {
    padding-left: 0 !important; }
    .table-history tr td p:first-child {
      margin-bottom: 5px; }
  .table-history a.order-id {
    color: #1e2e2d;
    font-size: 15px; }
  .table-history .text-danger {
    color: #e80202;
    font-size: 12px; }

.order-history-detail {
  color: #1e2e2d; }
  .order-history-detail .panel-heading {
    max-height: none !important; }
    .order-history-detail .panel-heading .total-price {
      font-size: 16px;
      margin-left: 5px !important; }
    .order-history-detail .panel-heading .total-price-helptext {
      font-size: 13px;
      font-weight: normal; }
  .order-history-detail .table-history-detail {
    color: #1e2e2d; }
    .order-history-detail .table-history-detail .price {
      color: #1e2e2d;
      font-weight: 500; }
    .order-history-detail .table-history-detail .price-help-text {
      color: #787878; }
    .order-history-detail .table-history-detail .title {
      font-weight: 500;
      font-size: 15px; }
    .order-history-detail .table-history-detail .name {
      font-weight: 500;
      font-size: 13px; }
    .order-history-detail .table-history-detail .nearby-store {
      color: #3db660;
      font-size: 13px;
      font-weight: normal; }
    .order-history-detail .table-history-detail tr td {
      padding: 15px 5px; }
  .order-history-detail .order-id {
    font-size: 18px;
    margin: 0; }
  .order-history-detail .order-date {
    font-size: 13px;
    font-weight: normal;
    margin: 0; }
  .order-history-detail .customer-address {
    list-style: none;
    margin: 0;
    padding: 0; }
  .order-history-detail .customer-info {
    margin-top: 10px; }
    .order-history-detail .customer-info .name {
      font-size: 15px;
      font-weight: 500; }
    .order-history-detail .customer-info tr td {
      padding-bottom: 20px;
      padding-left: 0; }
  .order-history-detail .cancel-form .radio {
    margin-bottom: 30px;
    padding-left: 10px; }
    .order-history-detail .cancel-form .radio input {
      margin-left: -30px; }
    .order-history-detail .cancel-form .radio.last {
      margin-bottom: 20px; }
  .order-history-detail .cancel-form textarea {
    border-radius: 0;
    margin-left: 30px;
    width: 90%; }
  .order-history-detail .progress-status {
    margin-top: 40px;
    font-size: 13px; }
    .order-history-detail .progress-status .text-danger {
      margin: 0;
      color: #e80202; }

.sidebar.right {
  padding-top: 60px;
  color: #787878; }
  .sidebar.right h2 {
    font-size: 25px;
    font-weight: normal; }

/*
 * quan ly tai khoan
 */
.manage-account .action-row {
  margin-top: 15px;
  margin-bottom: 40px; }
  .manage-account .action-row h3 {
    margin: 10px 0 0;
    font-size: 20px;
    font-weight: normal; }
.manage-account .panel {
  margin-top: 0 !important;
  box-shadow: none;
  border-bottom: 0;
  border-left: 0;
  border-right: 0; }
  .manage-account .panel-title {
    font-size: 17px;
    font-weight: normal;
    margin: 0; }
  .manage-account .panel-heading a {
    color: #3db660;
    font-size: 17px;
    font-weight: normal;
    text-decoration: none; }
    .manage-account .panel-heading a:hover {
      text-decoration: none; }
    .manage-account .panel-heading a.collapsible-link .collapse-text {
      display: inline; }
    .manage-account .panel-heading a.collapsible-link .expand-text {
      display: none; }
    .manage-account .panel-heading a.collapsible-link.collapsed .collapse-text {
      display: none; }
    .manage-account .panel-heading a.collapsible-link.collapsed .expand-text {
      display: inline; }
.manage-account .package-name {
  font-size: 17px;
  font-weight: 500; }
.manage-account .text-green {
  font-size: 13px;
  margin-bottom: 0px; }
  .manage-account .text-green:hover {
    text-decoration: none; }
.manage-account .btn {
  border-radius: 0;
  border: 0;
  padding-left: 20px;
  padding-right: 20px; }
  .manage-account .btn.btn-primary {
    background: #3b918d; }
  .manage-account .btn.btn-default {
    background: none;
    color: #3b918d;
    border: solid 1px #ccc; }
.manage-account .item {
  margin-bottom: 20px !important; }
  .manage-account .item .action-buttons {
    margin-top: 30px; }
    .manage-account .item .action-buttons .btn {
      margin-right: 40px; }

/**
 * Mobiles
 */
@media print {
  .br-theme-fontawesome-stars .br-widget a:after {
    content: '\f006';
    color: black; }

  .br-theme-fontawesome-stars .br-widget a.br-active:after,
  .br-theme-fontawesome-stars .br-widget a.br-selected:after {
    content: '\f005';
    color: black; } }
@media (max-width: 700px) {
  .wizard-progress {
    margin: 20px 0 0 0; }
    .wizard-progress li .step-name {
      display: none; } }
@media (max-width: 767px) {
  .top-link li {
    text-align: left;
    display: block;
    line-height: 1;
    font-size: 12px !important; }
    .top-link li a.login-link {
      display: block;
      text-align: right;
      padding-top: 10px; }

  nav.breadcrumb li a .step {
    margin-right: 0 !important;
    margin-left: 30px; }

  .section-20 .item-01 .title {
    font-size: 12px !important;
    line-height: 20px !important;
    display: inline-block;
    padding: 10px 0 0 0 !important; }
  .section-20 .item-01 .meta {
    display: none; }

  .step-3-dongcuoctruoc .panel .panel-body {
    margin-top: 15px; }
    .step-3-dongcuoctruoc .panel .panel-body .a-step-3 {
      text-decoration: none; }
      .step-3-dongcuoctruoc .panel .panel-body .a-step-3 .package-item {
        border: solid 1px #ccc;
        padding: 8px;
        margin: 8px;
        width: 100%; }

  .step-1-chongoicuoc .panel .panel-body {
    margin-top: 15px; }
    .step-1-chongoicuoc .panel .panel-body .a-step-3 {
      text-decoration: none; }
      .step-1-chongoicuoc .panel .panel-body .a-step-3 .package-item {
        border: solid 1px #ccc;
        padding: 8px;
        margin: 8px;
        width: 100%; }

  #modalMuaSimSoThongTinGoiCuoc .nav-tabs > li {
    width: 100%; }

  .sidebar.right {
    padding-top: 0; } }
.title-nap-the {
  margin: 5%;
  margin-bottom: 0% !important; }

#slider {
  width: 50%;
  margin: auto;
  margin-bottom: 10%;
  background-color: #999999; }

.ui-slider-range {
  background-color: #3db660; }

.slider-value {
  text-align: center;
  margin-left: 36%;
  margin-top: -2%;
  padding-top: 1%;
  color: #3db660;
  font-size: 20px;
  font-weight: 500;
  height: 47px;
  width: 230px;
  border: 1px solid #ebebeb; }

.btn-min-slider {
  border-color: #3db660;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #3db660;
  margin-top: -11.7%;
  margin-left: 23%;
  position: absolute; }

.btn-max-slider {
  position: absolute;
  border-color: #c5c5c5;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #999999;
  margin-top: -11.7%;
  margin-left: 70.7%; }

.btn-select-slider {
  border-color: #3db660 !important;
  height: 20px !important;
  width: 20px !important;
  margin-top: -0.6%;
  border-radius: 100%;
  background-color: #3db660 !important;
  outline: none; }

.choose {
  max-width: 18%;
  float: left;
  margin-right: 5%;
  margin-left: 3%; }

.text-choose select {
  padding: 0;
  border: none;
  outline: none; }

.text-choose {
  float: left;
  position: relative; }

.name-choose {
  float: left;
  padding-top: 1%;
  font-weight: bold;
  padding-left: 5%;
  position: relative; }

.name-choose-1 {
  margin-left: 20%; }

.select-choose {
  padding-left: 5%;
  height: 15px;
  margin-top: 13%;
  background-color: white; }

.box-prev-change {
  position: absolute;
  margin-top: -27%; }
  .box-prev-change .prev-change {
    height: 41px;
    width: 41px;
    background-color: white !important;
    margin-left: -38%; }

.box-next-change {
  position: absolute;
  margin-top: -27%;
  margin-left: 94%; }
  .box-next-change .next-change {
    height: 41px;
    width: 41px;
    background-color: white !important; }

.package-reference2 .box-prev-change {
  margin-top: -27%; }
.package-reference2 .box-next-change {
  margin-top: -27%;
  margin-left: 92%; }

.no-box-shadow {
  box-shadow: none; }

.title-change {
  border-bottom: 1px solid #cccccc;
  line-height: 22px;
  width: 27%;
  margin-left: 3%;
  text-align: left; }

.date-choose {
  border: none;
  border-bottom: 1px solid #cccccc;
  background-color: white;
  outline: none;
  border-radius: 0 !important;
  -webkit-appearance: none;
  width: 100%;
  position: relative; }

.ic-appointment {
  position: absolute;
  margin-top: -9%;
  margin-left: 41%; }

.ic-appointment2 {
  margin-top: -19%;
  position: absolute;
  margin-left: 50%;
  border-bottom: 1px solid #ccc; }

.choose-place {
  margin-top: 20px;
  text-align: left;
  font-weight: bold; }

.appoint-accept {
  margin-top: 35%; }

.img-avt-information {
  padding-right: 15px; }

.CMT-place {
  padding-left: 35px !important; }

.ui-timepicker-wrapper {
  width: 15.5em !important; }

.confirm-order .title {
  text-align: center; }
  .confirm-order .title .title-head {
    font-size: 16px;
    font-weight: 500;
    color: #1e2e2d;
    max-height: 50px; }
  .confirm-order .title .title-note {
    margin-top: 10px;
    color: #787878; }
.confirm-order .content-left {
  border: 1px solid #ddd;
  margin-top: 30px; }
  .confirm-order .content-left .content-title {
    min-height: 40px;
    padding-top: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd; }
    .confirm-order .content-left .content-title .content-title-left {
      float: left;
      padding-left: 10px;
      font-weight: 600; }
    .confirm-order .content-left .content-title .content-title-right {
      float: right;
      padding-right: 10px; }
      .confirm-order .content-left .content-title .content-title-right span {
        color: #05928d;
        font-weight: 600; }
  .confirm-order .content-left .list-content {
    margin: 15px 10px 15px 10px;
    overflow: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px; }
    .confirm-order .content-left .list-content .list-content-left {
      width: 70%;
      float: left; }
      .confirm-order .content-left .list-content .list-content-left .image {
        width: 100px;
        float: left; }
        .confirm-order .content-left .list-content .list-content-left .image img {
          margin: auto;
          display: table; }
      .confirm-order .content-left .list-content .list-content-left .list-content-info {
        margin-left: 120px; }
        .confirm-order .content-left .list-content .list-content-left .list-content-info .info-title {
          font-weight: bold;
          font-size: 16px; }
    .confirm-order .content-left .list-content .list-content-right {
      width: 30%;
      float: right;
      text-align: right;
      font-weight: 400; }
      .confirm-order .content-left .list-content .list-content-right span {
        font-weight: 600; }
  .confirm-order .content-left .list-content:not(:last-child) {
    border-bottom: 1px solid #ddd; }
.confirm-order .content-right {
  border: 1px solid #ddd;
  margin-top: 30px;
  overflow: auto; }
  .confirm-order .content-right .content-title {
    height: 40px;
    padding-top: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd; }
    .confirm-order .content-right .content-title div {
      float: left;
      margin-left: 15px;
      font-weight: 600; }
  .confirm-order .content-right .info {
    margin: 15px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .confirm-order .content-right .info div {
      overflow: auto;
      padding: 7px 0px 7px 0px; }
      .confirm-order .content-right .info div .info-lable {
        float: left;
        width: 100px; }
.confirm-order .title-content {
  margin-top: 20px;
  font-size: 16px;
  color: #05928d; }
  .confirm-order .title-content a {
    font-size: 14px;
    color: #05928d;
    text-decoration: underline; }
.confirm-order .detail-content {
  margin-top: 20px; }
  .confirm-order .detail-content input[type=radio] {
    font-size: 20px; }
  .confirm-order .detail-content [type="radio"]:checked,
  .confirm-order .detail-content [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px; }
  .confirm-order .detail-content [type="radio"]:checked + label,
  .confirm-order .detail-content [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block; }
  .confirm-order .detail-content [type="radio"]:checked + label:before,
  .confirm-order .detail-content [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #615c5c;
    border-radius: 100%;
    background: #fff; }
  .confirm-order .detail-content [type="radio"]:checked + label:before {
    border: 1px solid #05928d; }
  .confirm-order .detail-content [type="radio"]:checked + label:after,
  .confirm-order .detail-content [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #05928d;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .confirm-order .detail-content [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  .confirm-order .detail-content label {
    font-weight: normal; }
  .confirm-order .detail-content .agree {
    font-size: 20px;
    margin: 0px 5px 0px 0px !important;
    border-radius: 0px; }
  .confirm-order .detail-content div {
    padding: 5px 0px 5px 0px; }
    .confirm-order .detail-content div span {
      margin-left: 5px; }
.confirm-order .bt-send-request {
  padding: 40px 0px 50px 0px; }
  .confirm-order .bt-send-request button {
    color: white;
    font-size: 14px;
    margin: auto;
    display: table;
    border: none;
    background-color: #3db660;
    height: 35px;
    width: 250px;
    font-weight: 100; }

.wrapper-shop-web {
  font-size: 14px; }
  .wrapper-shop-web .path-name {
    padding-bottom: 20px; }
    .wrapper-shop-web .path-name a {
      color: #676767;
      text-decoration: none;
      letter-spacing: 0.3px;
      font-size: 12px; }
    .wrapper-shop-web .path-name .page-current {
      color: #00918d; }
  .wrapper-shop-web .list-content {
    margin-bottom: 20px; }
  .wrapper-shop-web .shop-web-title {
    margin-top: 0px;
    margin-bottom: 20px; }
    .wrapper-shop-web .shop-web-title span:not(:first-child) {
      margin-left: 5px; }
    .wrapper-shop-web .shop-web-title span:first-child {
      float: left;
      font-size: 20px; }
    .wrapper-shop-web .shop-web-title .see-all {
      float: right;
      margin-top: 5px;
      font-size: 14px; }
      .wrapper-shop-web .shop-web-title .see-all a {
        color: #3db660 !important; }
    .wrapper-shop-web .shop-web-title .bt-tab {
      cursor: pointer;
      text-align: center;
      float: right;
      border-radius: 25px;
      padding: 5px; }
    .wrapper-shop-web .shop-web-title .click-bt-tab {
      color: white;
      background-color: #4cb55b; }
  .wrapper-shop-web .shop-web-search {
    margin-top: 30px; }
    .wrapper-shop-web .shop-web-search .choose-lable {
      padding-bottom: 10px; }
  .wrapper-shop-web .search-result {
    padding-bottom: 0px !important;
    padding-top: 0px !important; }
    .wrapper-shop-web .search-result .btn-view {
      font-weight: 100 !important;
      font-size: 13px; }
    .wrapper-shop-web .search-result .package-item {
      border: solid 1px #ededed;
      margin-bottom: 15px; }
      .wrapper-shop-web .search-result .package-item .package-name {
        font-weight: 500;
        font-size: 14px; }
      .wrapper-shop-web .search-result .package-item .package-description {
        color: #676767;
        font-size: 14px;
        letter-spacing: 0.3px; }
      .wrapper-shop-web .search-result .package-item .clearfix {
        margin-top: 13px; }
        .wrapper-shop-web .search-result .package-item .clearfix .no-padding button {
          padding: 6px 15px !important;
          margin-top: 25px;
          font-weight: 100 !important; }
  .wrapper-shop-web .result-item {
    margin-bottom: 15px !important; }
    .wrapper-shop-web .result-item .pull-right a {
      font-weight: 100 !important; }

.wrapper-shop-truyen-hinh-internet .content-shop-truyen-hinh-internet {
  padding-top: 20px;
  padding-bottom: 20px; }
  .wrapper-shop-truyen-hinh-internet .content-shop-truyen-hinh-internet .path-name a {
    color: #676767;
    text-decoration: none;
    letter-spacing: 0.3px;
    font-size: 12px; }
  .wrapper-shop-truyen-hinh-internet .content-shop-truyen-hinh-internet .path-name .page-current {
    color: #00918d; }
  .wrapper-shop-truyen-hinh-internet .content-shop-truyen-hinh-internet .shop-title-tab {
    padding-top: 20px; }
    .wrapper-shop-truyen-hinh-internet .content-shop-truyen-hinh-internet .shop-title-tab span {
      cursor: pointer;
      text-align: center;
      border-radius: 25px;
      padding: 5px 15px 5px 15px;
      font-size: 15px; }
    .wrapper-shop-truyen-hinh-internet .content-shop-truyen-hinh-internet .shop-title-tab .click-bt-tab {
      color: white;
      background-color: #4cb55b; }
  .wrapper-shop-truyen-hinh-internet .content-shop-truyen-hinh-internet .shop-select {
    padding-top: 20px;
    text-align: right; }
    .wrapper-shop-truyen-hinh-internet .content-shop-truyen-hinh-internet .shop-select span {
      margin-right: 10px;
      padding-top: 5px;
      padding-bottom: 10px;
      float: left; }
    .wrapper-shop-truyen-hinh-internet .content-shop-truyen-hinh-internet .shop-select div {
      float: left; }
      .wrapper-shop-truyen-hinh-internet .content-shop-truyen-hinh-internet .shop-select div select {
        height: 30px;
        border-radius: 0px;
        -webkit-appearance: none; }
  .wrapper-shop-truyen-hinh-internet .content-shop-truyen-hinh-internet .shop-content-tab .shop-tab-title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #000000; }

.loc-thong-tin .loc {
  padding-bottom: 15px; }
  .loc-thong-tin .loc div {
    float: left;
    margin-left: 10px; }
  .loc-thong-tin .loc div:first-child {
    padding-top: 5px;
    padding-right: 0px; }
  .loc-thong-tin .loc div:not(:first-child) {
    cursor: pointer;
    font-weight: 100;
    padding: 5px 15px;
    color: #999999;
    border: 1px solid #e1e1e1; }
  .loc-thong-tin .loc .click {
    color: white !important;
    background-color: #00a651; }

.loc-thong-tin1 .param {
  margin-top: 15px; }
  .loc-thong-tin1 .param div {
    float: left; }
  .loc-thong-tin1 .param div:first-child {
    padding: 7px 10px; }
  .loc-thong-tin1 .param div:last-child {
    margin-left: 10px;
    width: 125px; }

.lable-loc {
  width: 100px; }

.param div {
  float: left; }
.param div:first-child {
  padding: 7px 10px; }
.param div:last-child {
  margin-left: 10px;
  width: 125px; }
.param .form-group {
  margin-bottom: 0px; }

.btn-select-doi-tuong {
  border-radius: 0;
  border: solid 1px #e1e1e1;
  background: #fff;
  padding: 7px 35px;
  text-transform: capitalize;
  transition: all 0.5s;
  font-size: 13px;
  font-weight: 500; }

.pay-code-tag {
  padding-top: 25px; }
  .pay-code-tag .form-control-feedback i {
    pointer-events: auto;
    cursor: pointer; }

.code-tag {
  padding-right: 150px; }
  .code-tag .pay-code {
    padding-bottom: 15px; }
    .code-tag .pay-code p {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 40px; }
  .code-tag .input-group {
    width: 100%; }
    .code-tag .input-group .fa-trash {
      color: #ccc;
      font-size: 19px;
      margin-right: -20px; }
    .code-tag .input-group .form-control-feedback {
      z-index: 10; }
    .code-tag .input-group .img-pos {
      right: 50px; }
    .code-tag .input-group img {
      margin-right: 10px; }
  .code-tag .circle {
    cursor: pointer;
    width: 23px;
    height: 23px;
    border-radius: 18px;
    font-size: 16px;
    padding-top: 3px;
    margin-left: 35px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #ff7000;
    background-color: #ff7000; }
  .code-tag .text-code {
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding-left: 3px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    box-shadow: none;
    -webkit-box-shadow: none; }

.code-order .panel-default {
  border-color: #f7f7f7; }
  .code-order .panel-default .panel-heading {
    background-color: #fff;
    border-color: #f7f7f7; }
    .code-order .panel-default .panel-heading strong {
      font-size: 18px; }
  .code-order .panel-default .text-code-order {
    float: right;
    font-size: 20px;
    color: #3a918c;
    font-weight: bold; }
  .code-order .panel-default .panel-body {
    padding-bottom: 0px; }
    .code-order .panel-default .panel-body hr {
      border-color: #f7f7f7;
      margin-bottom: 10px; }
  .code-order .panel-default .table thead tr td, .code-order .panel-default .table tbody tr td {
    padding: 3px; }
    .code-order .panel-default .table thead tr td p, .code-order .panel-default .table tbody tr td p {
      margin: 0px; }
  .code-order .panel-default .table strong {
    font-size: 18px; }
  .code-order .panel-default .table .td-cost {
    color: #3a918c;
    text-align: right;
    font-weight: bold;
    font-size: 18px; }

.pay-btn {
  width: 100%;
  background-color: #3db660;
  color: #ffffff;
  margin-bottom: 20px; }
  .pay-btn:hover {
    background-color: #3db670;
    color: #ffffff; }

#package-slideshow2 .package-item {
  max-width: 233px;
  margin-left: 5px;
  margin-right: 5px; }
#package-slideshow2 .clearfix {
  margin-top: 10px; }

.btn-select-change {
  padding: 7px 23px; }

.first-drop {
  height: 15px;
  width: 15px;
  background-color: white;
  margin-left: -2%;
  position: absolute;
  margin-top: 1.2%; }

.second-drop {
  height: 15px;
  width: 15px;
  background-color: white;
  margin-left: -2%;
  position: absolute;
  margin-top: 1.2%; }

.btn-end-step1 {
  background-color: #3db660;
  border: 1px solid #3db660;
  width: 38%;
  color: white;
  height: 35px;
  text-transform: uppercase;
  margin-right: -15px; }

.type-1 {
  width: 155px;
  border: 1px solid #bebebe;
  height: 60px;
  color: #bebebe;
  padding: 20px 51px; }

.type-2 {
  width: 155px;
  border: 1px solid #3db660;
  height: 60px;
  color: #3db660;
  padding: 20px 51px; }
  .type-2:hover {
    color: white;
    background-color: #3db660; }

.cart {
  float: right;
  position: relative;
  margin-top: 13px;
  margin-right: 11px; }

.number-cart {
  position: absolute;
  margin-left: 40px;
  margin-top: -4px;
  color: white; }

.ic-date-range {
  position: absolute;
  margin-top: -6%;
  margin-left: 87%; }

.ic-CMT {
  position: absolute;
  margin-top: -17%;
  margin-left: 87%; }

.ic-photo-camera {
  position: absolute;
  margin-top: -5.5%;
  margin-left: 86%; }

@media (max-width: 768px) {
  .package-reference2 .box-next-change {
    margin-left: 91%; }

  .btn-max-slider {
    margin-top: -11.8%;
    margin-left: 70.5%; }

  .panel-body.big-padding,
  .register-sim .tab-content {
    padding: 15px !important; }

  .btn-submit {
    padding: 10px 66px; }

  .btn-select {
    padding: 7px;
    width: 100%; }

  .shop-internet .next-row {
    margin-top: -28% !important;
    margin-left: 92.5% !important; }
  .shop-internet .prev-row {
    margin-top: -28% !important;
    margin-left: -1% !important; }
  .shop-internet .package-item .clearfix div button.btn-select {
    padding: 7px 0 !important; }

  .panel-default.no-border-radius .panel-heading {
    font-size: 13px; }
    .panel-default.no-border-radius .panel-heading .total-price {
      margin-left: 5px; }

  .order-confirmation .customer-info {
    margin-bottom: 0; }
  .order-confirmation .order-row {
    padding: 10px 0; }

  .mini-padding-xs {
    padding: 5px 10px; }

  .sim-card {
    height: 164px; }

  #package-slideshow .package-item .col-xs-8 {
    padding-left: 0; }

  .order-history,
  .order-history-detail {
    padding-top: 0; }

  .sidebar.left h3 {
    margin-left: 0; }

  .customer-info-wrapper {
    padding: 0 15px !important; }

  .action-row {
    text-align: center; }
    .action-row h3 {
      margin-bottom: 20px !important; }
    .action-row .text-right {
      text-align: center !important; }

  .ic-photo-camera {
    position: absolute;
    margin-top: -5%;
    margin-left: 89%; }

  #package-slideshow2 .package-item {
    max-width: 222px; }

  .ic-date-range {
    position: absolute;
    margin-top: -5%;
    margin-left: 89%; }

  .ic-CMT {
    margin-top: -15% !important;
    margin-left: 94% !important; } }
@media (min-width: 992px) {
  .modal-lg {
    width: 982px; }

  .type-1 {
    width: 135px;
    padding: 20px 35px; }

  .type-2 {
    width: 135px;
    padding: 20px 35px; } }
@media (max-width: 990px) {
  nav.breadcrumb li a:before {
    display: none !important; }

  .vt-home {
    margin-bottom: 75px; }

  .ic-CMT {
    margin-top: -18%;
    margin-left: 85%; }

  .hidden-change {
    display: none; }

  .number-cart {
    margin-left: 35px;
    margin-top: -5px; }

  #package-slideshow2 .package-item {
    max-width: 222px; }

  .code-tag {
    padding-right: 15px; }
    .code-tag .text-code {
      font-size: 15px; }
    .code-tag .pay-code p {
      font-size: 15px;
      margin-bottom: 30px; }
    .code-tag .circle {
      width: 20px;
      height: 20px;
      border-radius: 17px;
      font-size: 13px; }

  .code-order {
    padding-top: 7%; }
    .code-order .panel-default .text-code-order {
      font-size: 16px; }
    .code-order .panel-default .panel-heading strong {
      font-size: 15px; }
    .code-order .panel-default .table strong {
      font-size: 15px; }
    .code-order .panel-default .table .td-cost {
      font-size: 15px; } }
@media (min-width: 991px) and (max-width: 1199px) {
  .btn-min-slider {
    margin-top: -12% !important;
    margin-left: 22.5% !important; }

  .ic-date-range {
    margin-top: -7.5%;
    margin-left: 84%; }

  .btn-max-slider {
    margin-left: 69.9%;
    margin-top: -12% !important; }

  .vt-home {
    margin-bottom: 75px !important; }

  .ic-CMT {
    position: absolute;
    margin-top: -22%;
    margin-left: 77%; }

  .ic-photo-camera {
    position: absolute;
    margin-top: -7.5%;
    margin-left: 83%; }

  .name-choose-1 {
    margin-left: 10%; }

  .shop-internet .next-row {
    margin-top: -23% !important;
    margin-left: 94.5% !important; }
  .shop-internet .prev-row {
    margin-top: -23% !important;
    margin-left: -1% !important; }
  .shop-internet .package-item .clearfix div button {
    width: 76% !important;
    margin-left: 16%; }
    .shop-internet .package-item .clearfix div button.btn-select {
      padding: 7px 11px !important; }

  .btn-select-1 {
    margin-left: -10%; }

  .btn-select-change {
    padding: 7px 13px; }

  #package-slideshow2 .package-item {
    max-width: 222px; }

  header nav.breadcrumb ul li a:before {
    max-width: 130px;
    left: -60px; }

  .number-cart {
    margin-left: 58px;
    margin-top: -5px; }

  .hidden-change {
    display: none; }

  .box-next-change {
    margin-left: 93%; }

  .package-reference2 .box-prev-change {
    margin-top: -31%; }
  .package-reference2 .box-next-change {
    margin-top: -31%;
    margin-left: 90%; } }
@media (min-width: 768px) {
  .bt-tab {
    width: 12%;
    margin-right: 10px; } }
@media (max-width: 1023px) {
  .register-sim .tab-content #pay-at-home {
    padding: 0; } }
@media (min-width: 1024px) and (max-width: 1199px) {
  .register-sim .tab-content #pay-at-home {
    padding: 25px; }

  .wizard-progress {
    margin: 20px -40px 0 -15px; } }
@media (min-width: 1200px) {
  .wizard-progress {
    margin: 5px -75px 0 -50px; }

  .type-1 {
    width: 155px;
    padding: 20px 51px; }

  .type-2 {
    width: 155px;
    padding: 20px 51px; } }
/*
 * Dat lich hen danh sach cua hang
 * Author: NamNV
 */
.datlich-dropdown {
  border: 0;
  border-radius: 0px;
  border-bottom: 1px solid #cccccc;
  background-color: white;
  color: #cccccc;
  width: 100%;
  text-align: left;
  padding: 6px 0px; }

.dat-lich-input input {
  border: 0;
  border-radius: 0px;
  border-bottom: 1px solid #cccccc;
  box-shadow: none; }

.list-cua-hang {
  margin-top: -12px;
  font-family: 'Roboto'; }
  .list-cua-hang table tr td {
    padding: 8px 0px;
    text-align: left;
    border: 0px;
    border-bottom: 1px solid #cccccc; }
    .list-cua-hang table tr td .store-info {
      padding-left: 12px;
      max-height: 40px; }
      .list-cua-hang table tr td .store-info .store-address {
        font-size: 16px;
        margin-bottom: 0; }
      .list-cua-hang table tr td .store-info .wait-time, .list-cua-hang table tr td .store-info .number-booker span, .list-cua-hang table tr td .number-booker .store-info span {
        font-size: 13px;
        color: #656b6a;
        margin-bottom: 7px; }
    .list-cua-hang table tr td .number-booker {
      margin-top: 8px; }
      .list-cua-hang table tr td .number-booker i {
        margin-right: 7px;
        font-size: 20px; }
      .list-cua-hang table tr td .number-booker .vt-tick-icon {
        background: url("../images/green-tick.png") no-repeat top right;
        width: 21px;
        height: 17px;
        display: inline-block;
        float: right;
        margin-right: 0px; }
    .list-cua-hang table tr td:hover {
      background-color: #ceeae8; }

.submit-form-dat-lich button {
  background-color: #05928d;
  height: 40px;
  width: 33.3333%;
  color: white;
  border-radius: 0px; }
  .submit-form-dat-lich button:hover {
    color: white; }

/*
 * End Dat lich hen danh sach cua hang
 */
.apoint-desc {
  text-align: left;
  margin-left: 15%; }
  .apoint-desc.apoint-desc2 {
    font-size: 13px; }

/* shop - internet -truyen hinh -chi tiet cua hang*/
.shop-internet {
  /****** Style Star Rating Widget *****/
  /* hover previous stars in list */ }
  .shop-internet .nav-header-shop {
    width: 267px;
    height: 14px;
    font-size: 12px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #686868;
    margin-bottom: 15px; }
  .shop-internet .nav-header-shop .text-style-1 {
    color: #676767; }
  .shop-internet .nav-header-shop .text-style-2 {
    color: #00918d; }
  .shop-internet .btn-end-step1 {
    max-width: 140px; }
  .shop-internet .eco-pic {
    width: 100%;
    height: 100%; }
  .shop-internet .text-eco {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: left;
    color: #000000; }
  .shop-internet .text-eco2 {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000; }
  .shop-internet .text-eco3 {
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #676767; }
  .shop-internet .shop-web-title {
    margin-top: 20px;
    margin-bottom: 20px; }
    .shop-internet .shop-web-title span:not(:first-child) {
      margin-left: 5px;
      float: left;
      max-width: 110px;
      font-weight: bold; }
  .shop-internet #gioi-thieu p {
    max-height: 450px;
    overflow: scroll;
    overflow-x: hidden;
    letter-spacing: 0.3px;
    text-align: left;
    color: #676767; }
  .shop-internet .package-item {
    margin: 5px 8px; }
    .shop-internet .package-item .clearfix {
      border: 1px solid #ccc;
      padding-top: 3%;
      margin-left: 1px;
      margin-right: 1px; }
      .shop-internet .package-item .clearfix div button {
        width: 70%;
        margin-top: 17%;
        margin-left: 16%; }
        .shop-internet .package-item .clearfix div button.btn-select {
          padding: 7px 19px; }
      .shop-internet .package-item .clearfix .package-name {
        color: black; }
      .shop-internet .package-item .clearfix .package-description {
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 0.3px;
        text-align: left;
        color: #676767; }
  .shop-internet .prev-row {
    position: absolute;
    margin-top: -17%;
    margin-left: -1%; }
  .shop-internet .next-row {
    position: absolute;
    margin-top: -17%;
    margin-left: 95.5%; }
  .shop-internet .prev-change {
    border: solid 1px #cdcdcd;
    background: none;
    padding: 0 6px;
    outline: none;
    margin-left: -14%; }
  .shop-internet .next-change {
    border: solid 1px #cdcdcd;
    background: none;
    padding: 0 6px;
    outline: none;
    margin-left: -14%; }
  .shop-internet .clearfix {
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #676767; }
  .shop-internet .title-lien-quan {
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: left;
    color: #000000; }
  .shop-internet .select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
    cursor: text; }
  .shop-internet .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #ccc 1px !important;
    outline: 0; }
  .shop-internet .process-step3 .select2-search__field {
    width: 100% !important; }
  .shop-internet .select2-search__field {
    padding-left: 7px !important; }
  .shop-internet fieldset, .shop-internet label {
    margin: 0;
    padding: 0; }
  .shop-internet body {
    margin: 20px; }
  .shop-internet h1 {
    font-size: 1.5em;
    margin: 10px; }
  .shop-internet .box-rating {
    text-align: right;
    margin-bottom: 5px; }
  .shop-internet .rating {
    border: none;
    margin-top: -3%;
    float: right; }
  .shop-internet .rating {
    /***** CSS Magic to Highlight Stars on Hover *****/ }
    .shop-internet .rating input {
      display: none; }
    .shop-internet .rating label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005"; }
    .shop-internet .rating .half:before {
      content: "\f089";
      position: absolute; }
    .shop-internet .rating label {
      color: #ddd;
      float: right; }
    .shop-internet .rating input:checked ~ label,
    .shop-internet .rating input:checked + label:hover,
    .shop-internet .rating input:checked ~ label:hover,
    .shop-internet .rating label:hover ~ input:checked ~ label,
    .shop-internet .rating input:checked ~ label:hover ~ label {
      color: #FFED85; }
  .shop-internet .rating:not(:checked) > label:hover,
  .shop-internet .rating:not(:checked) > label:hover ~ label {
    color: #FFD700; }

/* end shop - internet -truyen hinh -chi tiet cua hang*/
@media (max-width: 425px) {
  .cart {
    margin: 2px 10px; }

  .number-cart {
    margin-left: -11px;
    margin-top: 48%; }

  .btn-max-slider {
    margin-top: -12.8%;
    margin-left: 67%; }

  .slider-value {
    margin-left: 21%; }

  .box-prev-change {
    margin-top: -46%;
    margin-left: -2%; }

  .box-next-change {
    margin-top: -46%;
    margin-left: 89%; }

  .package-reference2 .box-prev-change {
    margin-top: -48%; }
  .package-reference2 .box-next-change {
    margin-top: -48%;
    margin-left: 83% !important; }

  .btn-min-slider {
    margin-top: -12.7%;
    margin-left: 21.3%; } }
@media (min-width: 1024px) and (max-width: 1199px) {
  .confirm-order .content-left .list-content {
    padding-bottom: 42.5px !important; } }
@media (min-width: 320px) and (max-width: 375px) {
  .confirm-order .content-left .content-title {
    font-size: 12px; }

  .number-cart {
    margin-left: -14px;
    margin-top: 53%; }

  .box-next-change {
    margin-left: 86%; }

  .package-reference2 .box-next-change {
    margin-left: 80% !important; }

  .btn-min-slider {
    margin-top: -13.2% !important;
    margin-left: 21% !important; }

  .btn-max-slider {
    margin-top: -13.4%;
    margin-left: 66%; }

  .slider-value {
    margin-left: 17% !important; } }
@media (max-width: 320px) {
  .confirm-order .content-left .content-title {
    font-size: 12px; }

  .number-cart {
    margin-left: 33px !important;
    margin-top: -31% !important; }

  .slider-value {
    margin-left: 10% !important; }

  .box-next-change {
    margin-left: 85%;
    margin-top: -60%; }

  .box-prev-change {
    margin-top: -60%; }

  .package-reference2 .box-next-change {
    margin-left: 78% !important;
    margin-top: -60%; }

  .package-reference2 .box-prev-change {
    margin-top: -60%; }

  .btn-min-slider {
    margin-top: -14% !important;
    margin-left: 20.5% !important; }

  .btn-max-slider {
    margin-top: -14%;
    margin-left: 65%; } }

/*# sourceMappingURL=styles.css.map */
