body {
    font-family: "Roboto";
}

/*
 * Common stuffs
 */
.no-border {
    border: 0 !important;
}
.no-border-radius {
   border-radius: 0 !important;
}
.no-background {
    background: none !important;
}
.no-padding {
    padding: 0 !important;
}
.no-margin{
    margin: 0!important;
}
.no-padding-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.vt-icons {
    background: url(../images/vt-icons.png?v1.0.5) no-repeat top left;
    display: inline-block;

    &.vt-user {
        width: 98px;
        height: 102px;
    }
    &.vt-wifi {
        width: 41px;
        height: 34px;
        background-position: -3px -112px;
    }
    &.vt-network {
        width: 47px;
        height: 33px;
        background-position: -2px -153px;
    }
    &.vt-phone {
        width: 42px;
        height: 33px;
        background-position: -50px -113px;
    }
    &.vt-ip-phone {
        width: 34px;
        height: 33px;
        background-position: -57px -153px;
    }
    &.vt-tv {
        width: 33px;
        height: 31px;
        background-position: -6px -191px;
    }
    &.vt-sim {
        width: 56px;
        height: 71px;
        background-position: -2px -228px;
    }
    &.vt-store {
        width: 38px;
        height: 38px;
        background-position: -61px -223px;
    }
    &.vt-home {
        width: 41px;
        height: 39px;
        background-position: -59px -264px;
        &.vt-home2{
            margin-bottom: 60px;
        }
    }

    &.vt-otp {
        width: 40px;
        height: 47px;
        background-position: -3px -308px;
    }
    &.vt-sms {
        width: 38px;
        height: 47px;
        background-position: -49px -308px;
    }
    &.vt-green-tick-circle {
        width: 20px;
        height: 20px;
        background-position: -46px -358px;
    }
    &.vt-thin-green-tick-circle {
        width: 18px;
        height: 18px;
        background-position: -25px -359px;
    }
    &.vt-question-mark-circle {
        width: 18px;
        height: 18px;
        background-position: -4px -359px;
    }
}
.btn-submit {
    color: #fff;
    border-radius: 0;
    border: 0;
    background: #3db660;
    padding: 10px 96px;
    text-transform: uppercase;
    transition: all 0.5s;
    margin-bottom: 20px;

    &:hover {
        background: lighten(#3db660, 10%);
        color: #fff;
    }
}
.btn-view {
     color: #fff;
     border-radius: 0;
     border: 0;
     background: #3a918c;
     padding: 7px 35px;
     text-transform: capitalize;
     transition: all 0.5s;
     margin-bottom: 20px;
     font-size: 14px;
     font-weight: 500;

     &:hover {
         background: lighten(#3a918c, 10%);
         color: #fff;
     }
 }
.btn-select {
    color: #3db660;
    border-radius: 0;
    border: solid 1px #3db660;
    background: #fff;
    padding: 7px 35px;
    text-transform: capitalize;
    transition: all 0.5s;
    font-size: 13px;
    font-weight: 500;

    &:hover {
        background: #3db660;
        color: #fff;
    }
}
label.required {
    &:after {
        content: '*';
        color: #e51f1f;
        display: inline-block;
        margin-left: 5px;
    }
}
.panel-default {
    &.no-border-radius {
        .panel-heading {
            font-size: 16px;
            font-weight: 500;
            color: #1e2e2d;
            max-height: 50px;

            .total-price {
                color: #3b918d;
                margin-left: 15px;
            }
        }
    }
}
.price {
    color: #3a918c;
}
.light-gray {
    background: #f3f3f3;
}
.sim-card {
    background: url(../images/sim-bg.png) no-repeat center center;
    background-size: 100%;
    max-width: 313px;
    height: 199px;
    position: relative;
    margin: 0 auto;

    .number {
        position: absolute;
        bottom: 25px;
        text-align: center;
        color: #fff;
        font-size: 26px;
        font-weight: bold;
        width: 100%;
    }
}
.text-green {
    color: #3db660;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;

    &:hover {
        color: #3db660;
        text-decoration: underline;
    }
}
.modal-490 {
    max-width: 490px;
}
.otp-fields {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;

    input {
        border: 0;
        border-bottom: solid 1px #cdcccc;
        box-shadow: none;
        border-radius: 0;
    }
}
.other-number {
    max-height: 100px;
    .text-center{
        margin-top: -43px;
        .otp-fields{
            .row{
                div{
                    margin: 16px;
                    margin-left: 54px;
                    input{
                        font-size: 23px;
                        text-align: center;
                    }
                    span{
                        margin-top: -11%;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

/* Pagination */
.pagination {
    a {
        border-radius: 0 !important;
        border: solid 1px #dddddd;
        margin-right: 5px;
        color: #828181 !important;
        font-size: 13px;
    }

    .active {
        a {
            color: #fff !important;
        }
    }
}

/* Star rating plugin - Fontawesome theme */
.br-theme-fontawesome-stars {
    display: inline-block;
}
.br-theme-fontawesome-stars .br-widget {
    height: 28px;
    white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
    font: normal normal normal 20px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 5px;
}
.br-theme-fontawesome-stars .br-widget a:after {
    content: '\f005';
    color: #d2d2d2;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
    color: #f6da00;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
    color: #f6da00;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
    display: none;
}
.br-theme-fontawesome-stars .br-readonly a {
    cursor: default;
}

// Progress step
.wizard-progress {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 5px 0;

    li {
        float: left;
        text-align: center;
        position: relative;
        width: 33%;

        &:first-of-type .step-num:before,
        &:last-of-type .step-num:after {
            display: none;
        }
    }

    .step-name {
        display: block;
        height: 32px;
        vertical-align: bottom;
        text-align: center;
    }

    .step-num {
        font-size: 14px;
        font-weight: bold;
        border: 1px solid #a9a9a9;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: inline-block;

        &:before,
        &:after {
            content: "";
            display: block;
            background: #a9a9a9;
            height: 2px;
            width: 50%;
            position: absolute;
            bottom: 12px;
            z-index: 0;
        }

        &:before {
            left: -8px;
        }

        &:after {
            left: 50%;
            margin-left: 8px;
        }
    }

    .done {
        .step-num {
            background: url(../images/vt-icons.png?v1.0.6) no-repeat top left;
            background-position: -46px -358px;
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 0;

            &:before {
                left: -10px;
                bottom: 16px;
            }

            &:after {
                left: 50%;
                margin-left: 10px;
                bottom: 16px;
            }
        }
    }
}

header {
    line-height: 58px;

    .logo {
        margin-top: 20px;
        display: inline-block;
    }

    .fa-circle {
        &:before {
            color: #3a918c;
        }
    }

    .top-link li {
        margin-right: 30px;
        font-size: 14px;

        &:last-child {
            margin-right: 0;
        }

        a, strong {
            color: #3a918c;
        }
    }

    nav.breadcrumb {
        padding: 0;
        border-radius: 0;
        margin-bottom: 30px;
        background: linear-gradient(90deg, #f7f7f7 50%, #ebebeb 50%);
        text-align: center;
        height: 55px;

        ul {
            list-style: none;
            line-height: 55px;
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            width: 100%;

            li {
                display: block;
                width: 33.3333333%;
                float: left;
                &.step-change{
                    width:20%!important;
                    a{
                        &:before{
                            max-width: 65px;
                            left: -20px;
                        }
                        span{
                            &.step{
                                margin-left: 30px;
                            }
                        }
                    }
                }
                a {
                    display: block;
                    height: 55px;
                    text-align: center;
                    //padding: 0 80px;
                    position: relative;
                    margin: 0;
                    font-size: 14px;
                    text-decoration: none;
                    color: #787878;
                    background: #ebebeb;

                    &:after {
                        content: "";
                        position: absolute;
                        z-index: 2;
                        transform: scale(0.707) rotate(45deg);
                        box-shadow: 2px -2px 0 0px rgba(255, 255, 255, 1), 3px -3px 0 2px rgba(255, 255, 255, 1);
                        border: none;
                        right: -25px;
                        width: 55px;
                        height: 55px;
                        top: 0;
                        background: #ebebeb;
                    }

                    &:before {
                        content: '';
                        max-width: 180px;
                        height: 2px;
                        background: #a9a9a9;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: -86px;
                        width: 100%;
                        z-index: 100;
                    }

                    .fa-angle-left {
                        position: absolute; top: 12px; left: 15px; font-size: 30px; color: #3a918c;
                    }
                }
                &:first-child a {
                    &:before {
                        display: none;
                    }
                }
                &:last-child a {
                    &:after {
                        display: none;
                    }
                }

                .step {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    display: inline-block;
                    border-radius: 50%;
                    border: solid 1px #a9a9a9;
                    color: #a9a9a9;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    margin-right: 15px;
                    margin-top: 15px;
                    position: relative;
                    z-index: 10;
                }

                &.done {
                    a {
                        color: #000;
                    }

                    .step {
                        color: #fff;
                        font: normal normal normal 14px/1 FontAwesome;
                        text-indent: -7px;
                        overflow: hidden;
                        border: 0;
                        position: relative;
                        top: 7px;
                        margin-top: 0;

                        &:after {
                            content: "\f058";
                            color: #3db660;
                            font-size: 28px;
                        }
                    }
                }

                &.current {
                    a {
                        color: #3a918c;
                        background: #f7f7f7;

                        &:after {
                            background: #f7f7f7;
                        }
                    }

                    .step {
                        color: #fff;
                        background: #3a918c;
                        border-color: #3a918c;
                    }
                }


            }
        }
    }
}

/* Begin - section-20 */
.section-20 {
    padding: 20px 0;
    background-color: #f3f3f3;
    margin-top: 20px;
}
.section-20 .item-01 {
    margin-top: 20px;
    margin-bottom: 20px;
    background-position: bottom right;
    background-repeat: no-repeat;/*background-size: auto 100%;*/
}
.section-20 .item-01 .images {
    text-align: center;
    /* font-size: 70px; */
    color: #676767;
    float: left;
    margin-right: 10px;
}

.section-20 .no-border {
    border-style: none;
}
.section-20 .item-01 .title {
    text-align: left;
    font-size: 25px;
    line-height: 32px;
    padding: 15px 0;
    overflow: hidden;
    font-weight: normal;
    color: #000000;
}
.section-20 .tab-content {
    display: none;
}
.section-20 .item-01 .meta a {
    color: #00918d;
}
.section-20 .item-01 .meta a:hover {
    color: #f79420;
}
.section-20 .item-01 .more {
    font-size: 15px;
    text-align: left;
}
/* End - section-20 */

/* Begin - section-52 */
.section-52 {
    padding: 10px 0;
}
@media (max-width: 768px) {
    .section-52 {
        display: none;
    }
    #package-slideshow2 .package-item {
        max-width: 222px!important;
    }
    .ic-date-range {
        position: absolute;
        margin-top: -5%;
        margin-left: 89%;
    }
    .ic-CMT {
        margin-top: -15%;
        margin-left: 94%;
    }
}
.section-52 .item-01 {
    margin-top: 20px;
    margin-bottom: 20px;
    background-position: bottom right;
    background-repeat: no-repeat;
    /*background-size: auto 100%;*/
    border-right: 1px solid #e7e5e5;
}
.section-52 .item-01 .images {
    text-align: left;
    /* font-size: 70px; */
    color: #676767;
    padding: 10px 0;
}
.section-52 .item-01 .images img {
    margin-right: 5px;
}
.section-52 .no-border {
    border-style: none !important;
}
.section-52 .item-01 .title {
    text-align: left;
    font-size: 18px;
    line-height: 32px;
    overflow: hidden;
    font-weight: normal;
    color: #000000;
}



@media (max-width: 769px) {
    .section-52 .item-01 {
        border-style: none;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .section-52 .item-01 .title {
        font-size: 20px !important;
        line-height: 20px !important;
        display: inline-block;
        padding: 10px 0 0 0 !important;
    }
    #package-slideshow2 .package-item {
        max-width: 222px;
    }
}
/* End - section-52 */

/* Begin - section-26 */
.section-26 {
    padding: 0;
    background-color: #e6e6e5;
}
.section-26 .item-01 {
    font-size: 25px;
    color: #000000;
    float: right !important;
}

@media (min-width: 992px) {
    .section-26 .item-01 {
        font-size: 20px;
    }
}
/* End - section-26 */

/*
 * Mua sim so -thong tin goi cuoc
 */
.vtModal {
    .modal-content {
        border-radius: 3px;
        border: 0;
        box-shadow: none;

        .modal-header {
            background: #3a918d;

            .modal-title {
                text-align: center;
                color: #fff;
                font-size: 16px;
                font-weight: 500;
            }

            .close {
                color: #fff;
                opacity: 1;
            }
        }
    }

    .package-name-wrapper {
        margin-bottom: 10px;

        .package-name {
            font-size: 20px;
            margin: 0;
        }
    }

    .package-info {
        color: #787878;
        font-size: 14px;

        &-title {
            font-size: 18px;
            margin-top: 35px;
        }
    }

    .nav-tabs {
        background: #e6e6e6;
        border: 0;
        margin-top: 15px;
    }

    .nav-tabs>li {
        margin-bottom: 0;
        width: 33.33333333%;
        text-align: center;

        & >a {
            padding: 15px 0;
            color: #000;
            font-size: 18px;
            border-radius: 0;
            border: 0;
            margin: 0;
        }
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        background: #f3f3f3;
        border: 0;
    }

    .tab-content {
        background: #f3f3f3;
        padding: 25px 15px 15px 25px;

        .tab-pane {
            max-height: 330px;
            padding-right: 10px;
            overflow: auto;
        }
    }

    p.text-muted {
        color: #8d8d8d;
        font-size: 14px;
    }
}

/*
 * mua sim so -Thanh cong
 */
.order-sim-successful {
    font-size: 15px;

    h2 {
        font-size: 24px;
        font-weight: 500;
        margin: 27px 0;

    }

    .order-status {
        padding: 40px 0;

        .order-number {
            color: #ff912f;
        }
    }

    .order-info {
        border-top: solid 1px #eee;
        border-bottom: solid 1px #eee;
        padding: 40px 0 30px 0;
        margin-bottom: 40px;

        .order-note {
            color: #787878;
            font-size: 13px;
            margin-top: 30px;
        }
    }

    .text-green {
        text-transform: uppercase;
    }
}

/*
 * Mua sim so -Xac nhan thanh cong
 */
.order-confirmation {
    h3 {
        font-size: 16px;
        font-weight: 500;
        margin: 15px 0;
        color: #000;
    }
    .order-status {
        color: #787878;
        font-size: 13px;
        margin-bottom: 30px;
    }

    .order-row {
        border-bottom: solid 1px #f2f1f1;
        margin: 0 auto;
        padding: 30px 0;
        font-size: 13px;
        color: #1e2e2d;

        &.last {
            border-bottom: 0;
            padding-bottom: 0;
        }

        .title {
            font-size: 15px;
            font-weight: 500;
        }
        .name {
            font-weight: 500;
        }
        .price {
            margin-left: 15px;
        }

    }

    .customer-info {
        margin: 15px 0 112px 0;
        color: #1e2e2d;

        li {
            margin-bottom: 20px;
            font-size: 13px;
            clear: both;
            display: block;
            strong {
                color: #1e2e2d;
                font-size: 15px;
            }

            label.col-xs-4,
            label.col-lg-3 {
                padding: 0;
                font-weight: normal;
            }
        }
    }
}

/*
 * Lua chon dich vu  CDBR
 */
.service-selection {
    .panel-body {
        padding: 15px 6px;

        & > .row {
            margin-left: 0;
            margin-right: 0;

        }
    }

    .note {
        color: #787878;
        font-size: 16px;
        margin: 15px 0 30px 0;
    }

    .service-items {
        .col-sm-6,
        .col-md-4{
            padding: 0 7px;
        }
    }
    .service-item {
        display: block;
        line-height: 66px;
        border: solid 1px #fff;
        text-decoration: none;
        color: #000;
        padding: 0 0 0 25%;
        margin-bottom: 15px;

        &:hover {
            border: solid 1px #f2f1f1;
            background-color: #f9f9f9;
        }

        &.selected {
            background-color: #ceeae8;
            background-image: url(../images/green-tick.png);
            background-repeat: no-repeat;
            background-position: 95% center;
            border: solid 1px #f2f1f1;
        }

        & > i {
            position: absolute;
            top: 16px;
            left: 8%;
        }
    }
}

/*
 * Step-3 Dong cuoc co dinh
 */
.step-3-dongcuoctruoc{
    .panel{
        .panel-body{
            margin-top: 15px;
            .a-step-3{
                text-decoration: none;
                .package-item{
                    border: solid 1px #ccc;
                    padding: 8px;
                    margin: 8px;
                    width: 47%;
                    .title-step-3{
                        padding-top: 10px;
                        margin: 0px;
                        float: left;
                        font-weight: 500;
                        color: #000;
                    }
                    .price-step-3{
                        padding-top: 10px;
                        float: right;
                        font-weight: 500;
                        color: #3db660;
                    }
                    .clearfix{
                        height: 30px;
                    }
                    .vat-step-3{
                        //margin: 0px;
                        color: #070707;
                        font-size: 12px;
                        opacity: 0.8;
                    }
                }
                .step-3-selected{
                    background-color: #3db660;
                    .title-step-3{
                        color: #fff;
                    }
                    .price-step-3{
                        color: #fff;
                    }
                    .vat-step-3{
                        color: #fff;
                        opacity: 1;
                    }
                }
            }
            .package-summary{
                font-weight: 500;
                //font-size: 1px;
                tr{
                    margin-top: 10px;
                }
                .td-img{
                    .img{
                        padding-bottom: 15px;
                    }
                }
                .info-package-name, .value-package-name{
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                .price, .total-price{
                    color: #3a918c;
                    font-size: 16px;
                }

            }

        }
    }
    .fast-set{
        td{
            border: none;
        }
        .vat-set{
            opacity: 0.8;
        }
        .price-fast{
            color: #3db660;
            font-weight: 500;
            opacity: 0.8;
        }
        .set, .day, .hour{
            label{
                font-weight: 500;
            }
        }
        .set{
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                //color: #666;
            }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }
            [type="radio"]:checked + label:before{
                border: 1px solid #05928d;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #05928d;
                position: absolute;
                top: 3.25px;
                left: 3px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            label{
                margin-left: 7px;
                margin-top: 5px;
            }
        }
        .day{
            label{
                padding-left: 35px;
                padding-top: 7px;
            }
        }
        .day, .hour{
            .ic-date-range{
                position: absolute;
                margin-top: -12%;
                margin-left: 75%;
            }
            input{
                border-radius: 0px;

            }
        }
        .td-note{
            padding-left: 30px;
            text-align: justify;
            opacity: 0.8;
            font-style: italic;
        }

    }
}


/*
 * Step-1 Chon goi cuoc
 */
.step-1-chongoicuoc{
    .panel{
        .info-user {
            padding-left:15px;
            color:#070707;
            opacity: 0.6;
            text-decoration: none;
            font-weight: 100;
            .fa-user {
                padding-right: 10px;
                font-size: 18px;
            }
        }
        .panel-body{
            margin-top: 15px;
            .a-step-3{
                text-decoration: none;
                .package-item{
                    border: solid 1px #ccc;
                    padding: 8px;
                    margin: 8px;
                    width: 47%;
                    .title-step-3{
                        padding-top: 10px;
                        margin: 0px;
                        float: left;
                        font-weight: 500;
                        color: #000;
                    }
                    .price-step-3{
                        padding-top: 10px;
                        float: right;
                        font-weight: 500;
                        color: #3db660;
                    }
                    .clearfix{
                        height: 30px;
                    }
                    .vat-step-3{
                        //margin-bottom: 0px;
                        color: #070707;
                        font-size: 12px;
                        opacity: 0.6;
                    }
                    .step-3-bottom{
                        margin-bottom: 0px;
                    }
                }
                .step-3-selected{
                    background-color: #3db660;
                    .title-step-3{
                        color: #fff;
                    }
                    .price-step-3{
                        color: #fff;
                    }
                    .vat-step-3{
                        color: #fff;
                        opacity: 1;
                    }
                }
            }
            .package-summary{
                font-weight: 500;
                //font-size: 1px;
                tr{
                    margin-top: 10px;
                }
                .td-img{
                    .img{
                        padding-bottom: 15px;
                    }
                }
                .info-package-name, .value-package-name{
                    padding-top: 10px;
                    padding-bottom: 0px;
                }
                .info-package-name{
                    .note{
                        font-weight: 400;
                        opacity: 0.6;
                    }
                }
                .value-package-name{
                    color: #3a918c;
                    font-size: 16px;
                }

            }

        }
    }
    .same-account{
        font-size: 16px;
        color: #3a918c;
        margin-bottom: 20px;
    }
    .fast-set{
        td{
            border: none;
        }
        .vat-set{
            opacity: 0.6;
        }
        .price-fast{
            color: #3db660;
            font-weight: 500;
            opacity: 0.6;
        }
        .set, .day, .hour{
            label{
                font-weight: 500;
            }
        }
        .set{
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                //color: #666;
            }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }
            [type="radio"]:checked + label:before{
                border: 1px solid #05928d;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #05928d;
                position: absolute;
                top: 3.25px;
                left: 3px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            label{
                margin-left: 7px;
                margin-top: 5px;
            }
        }
        .day{
            label{
                padding-left: 35px;
                padding-top: 7px;
            }
        }
        .day, .hour{
            .ic-date-range{
                position: absolute;
                margin-top: -12%;
                margin-left: 75%;
            }
            input{
                border-radius: 0px;

            }
        }
        .td-note{
            padding-left: 30px;
            text-align: justify;
            opacity: 0.8;
            font-style: italic;
        }

    }
}


/*
 * Dang ki Internet
 */
.register-internet,
.register-sim {
    .form-horizontal {
        label {
            font-weight: normal;
        }

        .panel-body.big-padding {
            padding: 15px 90px;
        }

        .form-control {
            border-radius: 0;
        }
        .text-address {
            font-style: italic;
            color: #3a918c;
            text-decoration: none;
            img {
                padding-bottom: 8px;
            }
        }
    }

    .package-summary {
        color: #1e2e2d;
        font-size: 15px;

        .package-name {
            font-weight: 500;
            margin-top: 20px;
            font-size: 15px;
        }

        .total-price {
            color: #3a918c;
            font-size: 17px;
            font-weight: 700;
        }

        p {
            margin-bottom: 0;
            font-size: 13px;
            color: #787878;
        }

        td {
            padding: 15px 0;
        }
    }
}
.register-sim {
    .panel-heading small {
        color: #787878;
        font-size: 13px;
    }

    .nav-tabs {
        background: #f3f3f3;
        border: 0;

    }
    .nav-tabs>li {
        margin-bottom: 0;
        text-align: center;

        & >a {
            padding: 30px 0;
            color: #000;
            font-size: 15px;
            border-radius: 0;
            border: 0 !important;
            margin: 0;
            background: #fff;

            .tab-title {
                font-weight: 500;

                span {
                    color: #ff912f;
                    font-size: 14px;
                }
            }
            .tab-subtitle {
                font-size: 13px;
                color: #3db660;
            }
            .text-sub-prove{
                margin-top: 5px;
                text-transform: uppercase;
                img{
                    margin-right: 5px;
                    margin-top: -5px;
                }
            }

            p {
                margin-bottom: 0px;
            }
        }
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        background: #f3f3f3;

    }
    .tab-content {
        background: #f3f3f3;

        #pay-at-home {
            padding: 25px 100px 15px 60px;
        }
    }

    .collapse-link {
        color: #5ab957;
        text-decoration: none;

        .fa-plus-circle {
            display: none;
        }

        &.collapsed {
            .fa-plus-circle {
                display: inline-block;
            }
            .fa-minus-circle {
                display: none;
            }
        }
    }

    #package-slideshow {
        .package-item {
            margin: 0 5px;

            .package-name {
                font-weight: 500;
                margin-top: 20px;
                font-size: 15px;
            }

            .btn-select {
                margin-top: 30px;
            }

            .package-description {
                font-size: 13px;
                color: #787878;
            }
        }
    }

    .slick-prev,
    .slick-next {
        border: solid 1px #cdcdcd;
        background: none;
        padding: 0 6px;
        outline: none;

        &:hover {
            border: solid 1px #5ab957;
            color: #5ab957;
        }
    }

    .form-control-feedback {
        top: 8px;
        right: 22px;
        pointer-events: initial;

    }

    .tooltip {
        width: 195px;

        &-inner {
            padding: 15px 30px;
            font-size: 12px !important;
        }
    }

}
/*
 * Tim sim so -Khong co ket qua
 */
.search-sim {
    .search-form {
        padding: 15px;

        .form-control {
            border-radius: 0;
        }

        .help-block {
            font-size: 13px;

            span {
                color: #3b918d;
            }
        }
    }

    .search-result {
        padding-top: 80px;
        padding-bottom: 80px;

        h3 {
            font-size: 20px;
            font-weight: 500;
        }

        .text-muted {
            font-size: 13px;
        }

        .result-item {
            border: solid 1px #f2f1f1;
            padding: 20px 15px;
            margin-bottom: 30px;

            h4 {
                margin: 0 0 10px 0;
                font-size: 18px;
                font-weight: 500;
                color: #1e2e2d;
            }

            .btn-select {
                margin-top: 6px;
            }
        }
    }
}

.tab-gray-bg {
    background: #e6e6e6;
}
.nav-tabs.tab-gray-icon {
    background: #e6e6e6;
    border: 0;
    margin-top: 15px;
}

.nav-tabs.tab-gray-icon>li {
    margin-bottom: 0;
    text-align: center;

    & >a {
        padding: 15px;
        color: #000;
        font-size: 18px;
        border-radius: 0;
        border: 0;
        margin: 0;
    }

    &.active>a,
    &.active>a:focus,
    &.active>a:hover {
        background: #f3f3f3;
        border: 0;
    }
}

/*
 * Lich su dat hang
 */
.order-history,
.order-history-detail {
    padding-top: 60px;
}

.sidebar.left {
    h3 {
        font-size: 20px;
        font-weight: 500;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .nav-stacked {
        &.nav-pills > li {
            border-bottom: solid 1px #e7e6e6;

            &:last-child {
                border-bottom: 0;
            }

            a {
                color: #a7a7a7;
                padding: 10px 5px;

                &:hover {
                    background: none;
                }
            }
        }

        &.nav-pills > li.active > a,
        &.nav-pills > li.active > a:focus,
        &.nav-pills > li.active > a:hover {
            background-color: #fff;
            color: #5ab957
        }
    }
}
.table-history-wrapper {
    padding: 50px 40px 15px 20px;
}
.table-history {
    color: #787878;
    font-size: 13px;

    &:before {
        content: '';
        position: absolute;
        width: 1px;
        background: #e7e6e6;
        height: 68%;
        top: 62px;
        left: 0;
    }

    tr {
        &:first-child {
            td {
                border-top: 0;
            }
        }

        &:last-child {
            td {
                border-bottom: 1px solid #ddd;
            }
        }

        td {
            padding-left: 0 !important;

            p {
                &:first-child {
                    margin-bottom: 5px;
                }
            }
        }

    }

    a.order-id {
        color: #1e2e2d;
        font-size: 15px;
    }

    .text-danger {
        color: #e80202;
        font-size: 12px;
    }
}

.order-history-detail {
    color: #1e2e2d;

    .panel-heading {
        max-height: none !important;

        .total-price {
            font-size: 16px;
            margin-left: 5px !important;
        }
        .total-price-helptext {
            font-size: 13px;
            font-weight: normal;
        }
    }

    .table-history-detail {
        color: #1e2e2d;

        .price {
            color: #1e2e2d;
            font-weight: 500;
        }

        .price-help-text {
            color: #787878;
        }

        .title {
            font-weight: 500;
            font-size: 15px;
        }

        .name {
            font-weight: 500;
            font-size: 13px;
        }

        .nearby-store {
            color: #3db660;
            font-size: 13px;
            font-weight: normal;
        }

        tr {
            td {
                padding: 15px 5px;
            }
        }
    }

    .order-id {
        font-size: 18px;
        margin: 0;

    }

    .order-date {
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

    .customer {
        &-info-wrapper {
            //padding: 0;
        }

        &-address {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &-info {
            margin-top: 10px;

            .name {
                font-size: 15px;
                font-weight: 500;
            }
            tr {
                td {
                    padding-bottom: 20px;
                    padding-left: 0;
                }
            }
        }
    }

    .cancel-form {
        .radio {
            margin-bottom: 30px;
            padding-left: 10px;

            input {
                margin-left: -30px;
            }

            &.last{
                margin-bottom: 20px;
            }
        }

        textarea {
            border-radius: 0;
            margin-left: 30px;
            width: 90%;

        }
    }

    .progress-status {
        margin-top: 40px;
        font-size: 13px;

        .text-danger {
            margin: 0;
            color: #e80202;
        }
    }
}

.sidebar.right {
    padding-top: 60px;
    color: #787878;

    h2 {
        font-size: 25px;
        font-weight: normal;
    }
}

/*
 * quan ly tai khoan
 */
.manage-account {
    .action-row {
        margin-top: 15px;
        margin-bottom: 40px;

        h3 {
            margin: 10px 0 0;
            font-size: 20px;
            font-weight: normal;
        }
    }

    .panel {
        margin-top: 0 !important;
        box-shadow: none;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;

        &-title {
            font-size: 17px;
            font-weight: normal;
            margin: 0;
        }

        &-heading {
            a {
                color: #3db660;
                font-size: 17px;
                font-weight: normal;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }

                &.collapsible-link {
                    .collapse-text {
                        display: inline;
                    }
                    .expand-text {
                        display: none;
                    }

                    &.collapsed {
                        .collapse-text {
                            display: none;
                        }

                        .expand-text {
                            display: inline;
                        }
                    }
                }

            }
        }
    }


    .package-name {
        font-size: 17px;
        font-weight: 500;
    }

    .text-green {
        font-size: 13px;
        margin-bottom: 0px;

        &:hover {
            text-decoration: none;
        }
    }

    .btn {
        border-radius: 0;
        border: 0;
        padding-left: 20px;
        padding-right: 20px;

        &.btn-primary {
            background: #3b918d;
        }

        &.btn-default {
            background: none;
            color: #3b918d;
            border: solid 1px #ccc;
        }
    }

    .item {
        margin-bottom: 20px !important;

        .action-buttons {
            margin-top: 30px;

            .btn {
                margin-right: 40px;
            }
        }
    }
}

/**
 * Mobiles
 */
@media print {
    .br-theme-fontawesome-stars .br-widget a:after {
        content: '\f006';
        color: black;

    }

    .br-theme-fontawesome-stars .br-widget a.br-active:after,
    .br-theme-fontawesome-stars .br-widget a.br-selected:after {
        content: '\f005';
        color: black;
    }
}
@media (max-width: 700px) {
    .wizard-progress {
        margin: 20px 0 0 0;

        li {
            .step-name {
                display: none;
            }
        }
    }
}
@media (max-width: 767px) {
    .top-link {
        li {
            text-align: left;
            display: block;
            line-height: 1;
            font-size: 12px !important;

            a.login-link {
                display: block;
                text-align: right;
                padding-top: 10px;
            }
        }
    }

    nav.breadcrumb {
        li {
            a {
                .step {
                    margin-right: 0 !important;
                    margin-left: 30px;
                }
            }
        }
    }

    .section-20 .item-01 {
        .title {
            font-size: 12px !important;
            line-height: 20px !important;
            display: inline-block;
            padding: 10px 0 0 0 !important;
        }
        .meta {
            display: none;
        }
    }
    .step-3-dongcuoctruoc {
        .panel {
            .panel-body {
                margin-top: 15px;
                .a-step-3 {
                    text-decoration: none;
                    .package-item {
                        border: solid 1px #ccc;
                        padding: 8px;
                        margin: 8px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .step-1-chongoicuoc {
        .panel {
            .panel-body {
                margin-top: 15px;
                .a-step-3 {
                    text-decoration: none;
                    .package-item {
                        border: solid 1px #ccc;
                        padding: 8px;
                        margin: 8px;
                        width: 100%;
                    }
                }
            }
        }
    }
    #modalMuaSimSoThongTinGoiCuoc {
        .nav-tabs>li {
            width: 100%;
        }
    }

    .sidebar {
        &.right {
            padding-top: 0;
        }
    }
}
// change by Le
.title-nap-the{
    margin: 5%;
    margin-bottom: 0%!important;

}
#slider{
    width: 50%;
    margin: auto;
    margin-bottom: 10%;
    background-color: #999999;
}
.ui-slider-range{
    background-color: #3db660;
}
.slider-value{
    text-align: center;
    margin-left: 36%;
    margin-top: -2%;

    padding-top: 1%;
    color: #3db660;
    font-size: 20px;
    font-weight: 500;
    height: 47px;
    width: 230px;
    border: 1px solid #ebebeb;
}
.btn-min-slider{
    border-color: #3db660;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #3db660;
    margin-top: -11.7%;
    margin-left: 23%;
    position: absolute;
}
.btn-max-slider{
    position: absolute;
    border-color: #c5c5c5;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color:#999999;
    margin-top: -11.7%;
    margin-left: 70.7%;
}
.btn-select-slider{
    border-color: #3db660!important;
    height: 20px!important;
    width: 20px!important;
    margin-top: -0.6%;
    border-radius: 100%;
    background-color: #3db660!important;
    outline: none;
}
.choose{
    max-width: 18%;
    float: left;
    margin-right: 5%;
    margin-left: 3%;
}
.text-choose select{
    padding: 0;
    border: none;
    outline: none;
}
.text-choose {
    float: left;
    position: relative;
}
.name-choose{
    float: left;
    padding-top: 1%;
    font-weight: bold;
    padding-left: 5%;
    position: relative;
}
.name-choose-1{
    margin-left: 20%;
}
.select-choose{
    padding-left: 5%;
    height: 15px;
    margin-top: 13%;
    background-color: white;
}
.box-prev-change{
    position: absolute;
    margin-top: -27%;
    .prev-change{
        height: 41px;
        width: 41px;
        background-color: white!important;
        margin-left: -38%;
    }
}
.box-next-change{
    position: absolute;
    margin-top: -27%;
    margin-left: 94%;
    .next-change{
        height: 41px;
        width: 41px;
        background-color: white!important;

    }
}
.package-reference2{
    .box-prev-change{
        margin-top: -27%;
    }
    .box-next-change{
        margin-top: -27%;
        margin-left: 92%;
    }
}

.no-box-shadow{
    box-shadow: none;
}
.title-change{
    border-bottom: 1px solid #cccccc;
    line-height: 22px;
    width: 27%;
    margin-left: 3%;
    text-align: left;
}
.date-choose{
    border: none;
    border-bottom: 1px solid #cccccc;
    background-color: white;
    outline: none ;
    border-radius: 0 !important;
    -webkit-appearance: none;
    width: 100%;
    position: relative;
}
.ic-appointment{
    position: absolute;
    margin-top: -9%;
    margin-left: 41%;
}
.ic-appointment2{
    margin-top: -19%;
    position: absolute;
    margin-left: 50%;
    border-bottom: 1px solid #ccc;
}
.choose-place{
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
}
.appoint-accept{
    margin-top: 35%;
}
.img-avt-information{
    padding-right: 15px;
}
.CMT-place{
    padding-left: 35px!important ;
}
.ui-timepicker-wrapper{
    width: 15.5em!important;
   // left: 900px!important;
}
.ui-datepicker{
   // left:700px!important;
}
.confirm-order{
    //padding-right: 0px;
    .title{
        text-align: center;
        .title-head{
            font-size: 16px;
            font-weight: 500;
            color: #1e2e2d;
            max-height: 50px;
        }
        .title-note{
            margin-top: 10px;
            color: #787878;
        }
    }
    .content-left{
        border: 1px solid #ddd;
        margin-top: 30px;
        .content-title{
            min-height: 40px;
            padding-top: 10px;
            font-size: 16px;
            border-bottom: 1px solid #ddd;
            .content-title-left{
                float: left;
                padding-left: 10px;
                font-weight: 600;
            }
            .content-title-right{
                float: right;
                padding-right: 10px;
                span{
                    color: #05928d;
                    font-weight:600;
                }
            }
        }
        .list-content{
            margin: 15px 10px 15px 10px;
            overflow: auto;
            padding-bottom: 10px;
            padding-top: 10px;
            font-size: 14px;
            .list-content-left{
                width: 70%;
                float: left;
                .image{
                    width: 100px;
                    float: left;
                    img{
                        margin: auto;
                        display: table;
                    }
                }
                .list-content-info{
                    margin-left: 120px;
                    .info-title{
                        font-weight:bold;
                        font-size: 16px;
                    }
                }
            }
            .list-content-right{
                width: 30%;
                float: right;
                text-align: right;
                font-weight: 400;
                span{
                    font-weight: 600;
                }
            }
        }
        .list-content:not(:last-child){
            border-bottom: 1px solid #ddd;
        }
    }
    .content-right{
        border: 1px solid #ddd;
        margin-top: 30px;
        overflow: auto;
        .content-title{
            height: 40px;
            padding-top: 10px;
            font-size: 16px;
            border-bottom: 1px solid #ddd;
            div{
                float: left;
                margin-left: 15px;
                font-weight: 600;
            }
        }
        .info{
            margin: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
            div{
                overflow: auto;
                padding: 7px 0px 7px 0px;
                .info-lable{
                    float: left;
                    width: 100px;
                }
                div{

                }
            }
        }
    }
    .title-content{
        margin-top: 20px;
        font-size: 16px;
        color: #05928d;
        a{
            font-size: 14px;
            color: #05928d;
            text-decoration: underline;
        }
    }
    .detail-content{
        margin-top: 20px;
        input[type=radio]{
            font-size: 20px;
        }
        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
        }

        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #615c5c;
            border-radius: 100%;
            background: #fff;
        }
        [type="radio"]:checked + label:before{
            border: 1px solid #05928d;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 12px;
            height: 12px;
            background: #05928d;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        label {
            font-weight: normal;
        }
        .agree{
            font-size: 20px;
            margin: 0px 5px 0px 0px!important;
            border-radius: 0px;
        }
        div{
            padding: 5px 0px 5px 0px;
            span{
                margin-left: 5px;
            }
        }
    }
    .bt-send-request{
        padding: 40px 0px 50px 0px;
        button{
            color: white;
            font-size: 14px;
            margin: auto;
            display: table;
            border: none;
            background-color: #3db660;
            height: 35px;
            width: 250px;
            font-weight: 100;
        }
    }
}
.wrapper-shop-web{
    font-size: 14px;
    .path-name{
        padding-bottom: 20px;
        a{
            color: #676767;
            text-decoration: none;
            letter-spacing: 0.3px;
            font-size: 12px;
        }
        .page-current{
            color: #00918d;
        }
    }
    .list-content{
        margin-bottom: 20px;
    }
    .shop-web-title{
        margin-top: 0px;
        margin-bottom: 20px;
        span:not(:first-child){
            margin-left: 5px;
        }
        span:first-child{
            float: left;
            font-size: 20px;
        }
        .see-all{
            float: right;
            margin-top: 5px;
            font-size: 14px;
            a{
                color: #3db660!important;
            }
        }
        .bt-tab{
            cursor: pointer;
            text-align: center;
            float: right;
            border-radius: 25px;
            padding: 5px;
        }
        .click-bt-tab{
            color: white;
            background-color: #4cb55b;
        }
    }
    .shop-web-search{
        margin-top: 30px;
        .choose-lable{
            padding-bottom: 10px;
        }
    }
    .search-result{
        padding-bottom: 0px!important;
        padding-top: 0px!important;
        .btn-view{
            font-weight: 100!important;
            font-size: 13px;
        }
        .package-item{
            border: solid 1px #ededed;
            margin-bottom: 15px;
            .package-name{
                font-weight: 500;
                font-size: 14px;
            }
            .package-description{
                color: #676767;
                font-size: 14px;
                letter-spacing: 0.3px;
            }
            .clearfix{
                margin-top: 13px;
                .no-padding{
                    button{
                        padding: 6px 15px!important;
                        margin-top: 25px;
                        font-weight: 100!important;
                    }
                }
            }
        }
    }
    .result-item{
        margin-bottom: 15px!important;
        .pull-right{
            a{
                font-weight: 100!important;
            }
        }
    }

}
.wrapper-shop-truyen-hinh-internet{
    .content-shop-truyen-hinh-internet{
        padding-top: 20px;
        padding-bottom: 20px;
        .path-name{
            a{
                color: #676767;
                text-decoration: none;
                letter-spacing: 0.3px;
                font-size: 12px;
            }
            .page-current{
                color: #00918d;
            }
        }
        .shop-title-tab{
            padding-top: 20px;
            span{
                cursor: pointer;
                text-align: center;
                border-radius: 25px;
                padding: 5px 15px 5px 15px;
                font-size: 15px;
            }
            .click-bt-tab{
                color: white;
                background-color: #4cb55b;
            }
        }
        .shop-select{
            padding-top:20px;
            text-align: right;
            span{
                margin-right: 10px;
                padding-top: 5px;
                padding-bottom: 10px;
                float: left;
            }
            div{
                float: left;
                select{
                    height: 30px;
                    border-radius: 0px;
                    -webkit-appearance: none;
                }
            }
        }
        .shop-content-tab{
            .shop-tab-title{
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.4px;
                color: #000000;
            }
        }

    }
}
.loc-thong-tin{
    .loc{
        padding-bottom: 15px;
        div{
            float: left;
            margin-left: 10px;
        }
        div:first-child{
            padding-top: 5px;
            padding-right: 0px;
        }
        div:not(:first-child){
            cursor: pointer;
            font-weight: 100;
            padding: 5px 15px;
            color: #999999;
            border: 1px solid #e1e1e1;
        }
        .click{
            color: white!important;
            background-color: #00a651;
        }
    }
}
.loc-thong-tin1{
    .param{
        margin-top: 15px;
        div{
            float: left;
        }
        div:first-child{
            padding: 7px 10px;
        }
        div:last-child{
            margin-left: 10px;
            width: 125px;
        }
    }
}
.lable-loc{
    width: 100px;
}
.param{
    div{
        float: left;
    }
    div:first-child{
        padding: 7px 10px;
    }
    div:last-child{
        margin-left: 10px;
        width: 125px;
    }
    .form-group{
        margin-bottom: 0px;
    }
}
.btn-select-doi-tuong{
    border-radius: 0;
    border: solid 1px #e1e1e1;
    background: #fff;
    padding: 7px 35px;
    text-transform: capitalize;
    transition: all 0.5s;
    font-size: 13px;
    font-weight: 500;
}
//toi_step5
.pay-code-tag {
    padding-top: 25px;
    .form-control-feedback{
        i{
            pointer-events: auto;
            cursor: pointer ;
        }
    }
}
.code-tag {
    padding-right: 150px;
    .pay-code {
        padding-bottom: 15px;
        p {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 40px;
        }
    }
    .input-group {
        width: 100%;
        .fa-trash {
            color: #ccc;
            font-size: 19px;
            margin-right: -20px;
        }
        .form-control-feedback {
            z-index: 10;
        }
        .img-pos {
            right: 50px;
        }
        img {
            margin-right: 10px;
        }
    }
    .circle {
        cursor: pointer;
        width: 23px;
        height:23px;
        border-radius: 18px;
        font-size: 16px;
        padding-top:3px;
        margin-left: 35px;
        color: #ffffff;
        text-align: center;
        border: 1px solid #ff7000;
        background-color: #ff7000;
    }
    .text-code {
        font-weight: bold;
        font-size: 18px;
        border: none;
        padding-left: 3px;
        margin-bottom: 5px;
        border-bottom: 1px solid #cccccc;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}
.code-order {
    .panel-default {
        border-color: #f7f7f7;
        .panel-heading {
            background-color: #fff;
            border-color: #f7f7f7;
            strong {
                font-size: 18px;
            }
        }
        .text-code-order {
            float: right;
            font-size: 20px;
            color: #3a918c;
            font-weight: bold;
        }
        .panel-body {
            padding-bottom: 0px;
            hr {
                border-color: #f7f7f7;
                margin-bottom: 10px;
            }
        }
        .table {
            thead, tbody{
                tr td {
                    padding: 3px;
                    p {
                        margin: 0px;
                    }
                }
            }
            strong {
                font-size: 18px;
            }
            .td-cost {
                color: #3a918c;
                text-align: right;
                font-weight: bold;
                font-size: 18px;
            }
        }
    }
}
.pay-btn {
    width: 100%;
    background-color:#3db660;
    color: #ffffff;
    margin-bottom: 20px;
    &:hover {
        background-color: #3db670;
        color: #ffffff;
    }
}
//end toi_step5
#package-slideshow2 {
    .package-item {
        max-width: 233px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .clearfix {
        margin-top: 10px;
    }
}
.btn-select-change{
    padding: 7px 23px;
}
.first-drop{
    height: 15px;
    width: 15px;
    background-color: white;
    margin-left: -2%;
    position: absolute;
    margin-top: 1.2%;
}
.second-drop{
    height: 15px;
    width: 15px;
    background-color: white;
    margin-left: -2%;
    position: absolute;
    margin-top: 1.2%;
}
.btn-end-step1{
    background-color: #3db660;
    border: 1px solid #3db660;
    width: 38%;
    color: white;
    height: 35px;
    text-transform: uppercase;
    margin-right: -15px;
}
.type-1{
    width: 155px;
    border: 1px solid #bebebe;
    height: 60px;
    color: #bebebe;
    padding: 20px 51px;
}
.type-2{
    width: 155px;
    border: 1px solid #3db660;
    height: 60px;
    color: #3db660;
    padding: 20px 51px;
    &:hover{
        color: white;
        background-color: #3db660;
    }
}
.cart{
    float: right;
    position: relative;
    margin-top: 13px;
    margin-right: 11px;
}
.number-cart{
    position: absolute;
    margin-left: 40px;
    margin-top: -4px;
    color: white;
}
.ic-date-range{
    position: absolute;
    margin-top: -6%;
    margin-left: 87%;
}
.ic-CMT{
    position: absolute;
    margin-top: -17%;
    margin-left: 87%;
}
.ic-photo-camera{
    position: absolute;
    margin-top: -5.5%;
    margin-left: 86%;
    //margin-top: -7.5%;
    //margin-left: 83%;
}

//end change by Le


@media (max-width: 768px) {
    .package-reference2 .box-next-change {
        margin-left: 91%;
    }
    .btn-max-slider{
        margin-top: -11.8%;
        margin-left: 70.5%;
    }
    .panel-body.big-padding,
    .register-sim .tab-content {
        padding: 15px !important;
    }

    .btn-submit {
        padding: 10px 66px;
    }

    .btn-select {
        padding: 7px;
        width: 100%;

    }

    .shop-internet{
      .next-row{
            margin-top: -28%!important;
            margin-left: 92.5%!important;
        }
        .prev-row{
           margin-top: -28%!important;
          margin-left: -1%!important;
        }
        .package-item{
            .clearfix{
                div{
                    button{
                        &.btn-select{
                            padding: 7px 0!important;
                        }
                    }
                }
            }
        }

    }
    .panel-default {
        &.no-border-radius {
            .panel-heading {
                font-size: 13px;

                .total-price {
                    margin-left: 5px;
                }
            }
        }
    }

    .order-confirmation {
        .customer-info {
            margin-bottom: 0;
        }

        .order-row {
            padding: 10px 0;
        }
    }

    .mini-padding-xs {
        padding: 5px 10px;
    }

    .sim-card {
        height: 164px;
    }

    //.step-3-dongcuoctruoc {
    //    .panel {
    //        .panel-body {
    //            margin-top: 15px;
    //            .a-step-3 {
    //                text-decoration: none;
    //                .package-item {
    //                    width: 100%;
    //                }
    //            }
    //        }
    //    }
    //}

    #package-slideshow .package-item .col-xs-8 {
        padding-left: 0;
    }

    .order-history,
    .order-history-detail {
        padding-top: 0;
    }

    .sidebar.left {
        h3 {
            margin-left: 0;
        }
    }

    .customer-info-wrapper {
        padding: 0 15px !important;
    }

    .action-row {
        text-align: center;

        h3 {
            margin-bottom: 20px !important;
        }

        .text-right {
            text-align: center !important;
        }
    }
    .ic-photo-camera {
        position: absolute;
        margin-top: -5%;
        margin-left: 89%;
    }
    #package-slideshow2 .package-item {
        max-width: 222px;
    }
    .ic-date-range {
        position: absolute;
        margin-top: -5%;
        margin-left: 89%;
    }
    .ic-CMT {
        margin-top: -15%!important;
        margin-left: 94%!important;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 982px;
    }
    .type-1{
        width: 135px;
        padding: 20px 35px;
    }
    .type-2{
        width: 135px;
        padding: 20px 35px;
    }
}
@media (max-width: 990px) {
    nav.breadcrumb {
        li {
            a {
                &:before {
                    display: none !important;
                }
            }
        }
    }
    .vt-home {
        margin-bottom: 75px;
    }
    .ic-CMT {
        margin-top: -18%;
        margin-left: 85%;
    }
    .hidden-change{
        display: none;
    }
    .number-cart{
        margin-left: 35px;
        margin-top: -5px;
    }
    #package-slideshow2 .package-item {
        max-width: 222px;
    }
    //   toi-step5-responsive
    .code-tag {
        padding-right: 15px;
        .text-code {
            font-size: 15px;
        }
        .pay-code {
            p {
                font-size: 15px;
                margin-bottom: 30px;
            }
        }
        .circle {
            width: 20px;
            height: 20px;
            border-radius: 17px;
            font-size: 13px;
        }
    }
    .code-order {
        padding-top: 7%;
        .panel-default {
            .text-code-order {
                font-size: 16px;
            }
            .panel-heading {
                strong {
                    font-size: 15px;
                }
            }
            .table {
                strong {
                    font-size: 15px;
                }
                .td-cost {
                    font-size: 15px;
                }
            }
        }
    }
    //   end toi-step5-responsive
}
@media (min-width: 991px) and (max-width: 1199px) {
    .btn-min-slider{
        margin-top: -12%!important;
        margin-left: 22.5%!important;
    }
    .ic-date-range{
        margin-top: -7.5%;
        margin-left: 84%;
    }
    .btn-max-slider{
        margin-left: 69.9%;

        margin-top: -12%!important;
    }
    .vt-home {
        margin-bottom: 75px!important;
    }
    .ic-CMT {
        position: absolute;
        margin-top: -22%;
        margin-left: 77%;
    }
    .ic-photo-camera{
        position: absolute;
        margin-top: -7.5%;
        margin-left: 83%;
    }
    .name-choose-1{
        margin-left: 10%;
    }
    .shop-internet{
        .next-row{
            margin-top: -23%!important;
            margin-left: 94.5%!important;
        }
        .prev-row{
            margin-top: -23%!important;
            margin-left: -1%!important;
        }
        .package-item{
            .clearfix{
                div{
                    button{
                        width: 76%!important;
                        margin-left: 16%;
                        &.btn-select{
                            padding: 7px 11px!important;
                        }
                    }
                }
            }
        }

    }
    .btn-select-1{
        margin-left: -10%;
    }
    .btn-select-change {
        padding: 7px 13px;
    }
    #package-slideshow2 .package-item {
        max-width: 222px;
    }
    header nav.breadcrumb ul li a:before {
        max-width: 130px;
        left: -60px;
    }
    .number-cart{
        margin-left: 58px;
        margin-top: -5px;
    }
    .hidden-change{
        display: none;
    }
    .box-next-change{
        margin-left: 93%;
    }
    .package-reference2{
        .box-prev-change{
            margin-top: -31%;
        }
        .box-next-change{
            margin-top: -31%;
            margin-left: 90%;
        }
    }

}
@media (min-width: 768px) {
    .bt-tab{
        width: 12%;
        margin-right: 10px;
    }
}
@media (max-width: 1023px) {
    .register-sim .tab-content #pay-at-home {
        padding: 0;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .register-sim .tab-content #pay-at-home {
        padding: 25px;
    }

    .wizard-progress {
        margin: 20px -40px 0 -15px;
    }
}

@media (min-width: 1200px) {
    .wizard-progress {
        margin: 5px -75px 0 -50px;
    }
    .type-1{
        width: 155px;
        padding: 20px 51px;
    }
    .type-2{
        width: 155px;
        padding: 20px 51px;
    }

}

/*
 * Dat lich hen danh sach cua hang
 * Author: NamNV
 */
.datlich-dropdown{
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #cccccc;
    background-color: white;
    color: #cccccc;
    width: 100%;
    text-align: left;
    padding: 6px 0px;
}
.dat-lich-input{
    input{
        border: 0;
        border-radius: 0px;
        border-bottom: 1px solid #cccccc;
        box-shadow: none;
    }
}
.list-cua-hang{
    margin-top: -12px;
    font-family: 'Roboto';
    table{
        tr{
            td{
                .store-info{
                    padding-left: 12px;
                    max-height: 40px;
                    .store-address{
                        font-size: 16px;
                        margin-bottom: 0;
                    }
                    .wait-time{
                        font-size: 13px;
                        color: #656b6a;
                        margin-bottom: 7px;
                    }
                }
                .number-booker{
                    margin-top: 8px;
                    i{
                        margin-right: 7px;
                        font-size: 20px;
                    }
                    span{
                        @extend .wait-time;
                    }
                    .vt-tick-icon{
                        background: url('../images/green-tick.png') no-repeat top right;
                        width: 21px;
                        height: 17px;
                        display: inline-block;
                        float: right;
                        margin-right: 0px;
                    }
                }
                padding: 8px 0px;
                text-align: left;
                border: 0px;
                border-bottom: 1px solid #cccccc;
                &:hover {
                    background-color: #ceeae8;
                }
            }
        }
    }
}
.submit-form-dat-lich{
    button{
        background-color: #05928d;
        height: 40px;
        width: 33.3333%;
        color: white;
        border-radius: 0px;
        &:hover{
            color: white;
        }
    }
}
/*
 * End Dat lich hen danh sach cua hang
 */
.apoint-desc{
    text-align: left;
    margin-left: 15%;
    &.apoint-desc2{
        font-size: 13px;
    }
}
/* shop - internet -truyen hinh -chi tiet cua hang*/
.shop-internet{
    .nav-header-shop {
        width: 267px;
        height: 14px;
        font-size: 12px;
        letter-spacing: 0.3px;
        text-align: left;
        color: #686868;
        margin-bottom: 15px;
    }

    .nav-header-shop {

        .text-style-1 {
            color: #676767;
        }

        .text-style-2 {
            color: #00918d;
        }
    }
    .btn-end-step1{
        max-width: 140px;
    }
    .eco-pic{
        width: 100%;
        height: 100%;
    }
    .text-eco{
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.6px;
        text-align: left;
        color: #000000;
    }
    .text-eco2 {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.3px;
        text-align: left;
        color: #000000;

    }
    .text-eco3{
        font-size: 14px;
        letter-spacing: 0.3px;
        text-align: left;
        color: #676767;
    }
    .shop-web-title {
        margin-top: 20px;
        margin-bottom: 20px;
        span:not(:first-child) {
            margin-left: 5px;
            float: left;
            max-width: 110px;
            font-weight: bold;
        }
    }
    #gioi-thieu p{
        max-height: 450px;
        overflow: scroll;
        overflow-x: hidden;
        letter-spacing: 0.3px;
        text-align: left;
        color: #676767;
    }
    .package-item{
        margin: 5px 8px;
        .clearfix{
            border :1px solid #ccc;
            padding-top: 3%;
            margin-left: 1px;
            margin-right: 1px;
            div{
                button{
                    width: 70%;
                    margin-top: 17%;
                    margin-left: 16%;
                    &.btn-select{
                        padding: 7px 19px;
                    }
                }
            }
            .package-name{
                color: black;
            }
            .package-description{
                font-size: 14px;
                font-weight: 100;
                letter-spacing: 0.3px;
                text-align: left;
                color: #676767;
            }

        }
    }
    .prev-row{
        position: absolute;
        margin-top: -17%;
        margin-left: -1%;
    }
    .next-row{
        position: absolute;
        margin-top: -17%;
        margin-left: 95.5%;

    }
    .prev-change{
        border: solid 1px #cdcdcd;
        background: none;
        padding: 0 6px;
        outline: none;
        margin-left: -14%
    }
    .next-change{
        border: solid 1px #cdcdcd;
        background: none;
        padding: 0 6px;
        outline: none;
        margin-left: -14%
    }

    .clearfix{
        font-size: 14px;
        letter-spacing: 0.3px;
        text-align: left;
        color: #676767;
    }

    .title-lien-quan{
        height: 19px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.4px;
        text-align: left;
        color: #000000;
    }
    .select2-container--default .select2-selection--multiple {
        background-color: white;
        border: 1px solid #ccc!important;
        border-radius: 0!important;
        cursor: text;
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid #ccc 1px!important;
        outline: 0;
    }
    .process-step3 .select2-search__field{
        width: 100%!important;
    }
    .select2-search__field{
        padding-left: 7px!important;
    }

    fieldset, label { margin: 0; padding: 0; }
    body{ margin: 20px; }
    h1 { font-size: 1.5em; margin: 10px; }

    /****** Style Star Rating Widget *****/
    .box-rating{
        text-align: right;
        margin-bottom: 5px;
    }
    .rating {
        border: none;
        margin-top: -3%;
        float: right;
    }

    .rating {
        input {
            display: none;
        }
        label:before {
            margin: 5px;
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }
        .half:before {
            content: "\f089";
            position: absolute;
        }
        label {
            color: #ddd;
            float: right;
        }

        /***** CSS Magic to Highlight Stars on Hover *****/

        input:checked ~ label, /* show gold star when clicked */


        input:checked + label:hover, /* hover current star when changing rating */
        input:checked ~ label:hover,
        label:hover ~ input:checked ~ label, /* lighten current selection */
        input:checked ~ label:hover ~ label { color: #FFED85;  }
    }
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */


}


/* end shop - internet -truyen hinh -chi tiet cua hang*/
@media (max-width: 425px) {
    .cart{
        margin: 2px 10px;
    }
    .number-cart{
        margin-left: -11px  ;
        margin-top: 48%;
    }
    .btn-max-slider{
        margin-top: -12.8%;
        margin-left: 67%;
    }
    .slider-value{
        margin-left: 21%;
    }
    .box-prev-change{
        margin-top: -46%;
        margin-left: -2%;
    }
    .box-next-change{
        margin-top: -46%;
        margin-left: 89%;
    }
    .package-reference2{
        .box-prev-change{
            margin-top: -48%;
        }
        .box-next-change{
            margin-top: -48%;
            margin-left: 83%!important;
        }
    }

    .btn-min-slider{
        margin-top: -12.7%;
        margin-left: 21.3%;
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {
    .confirm-order {
        .content-left {
            .list-content {
                padding-bottom: 42.5px !important;
            }
        }
    }
}
@media (min-width:320px) and (max-width: 375px) {
    .confirm-order {
        .content-left {
            .content-title {
                font-size: 12px;
            }
        }
    }
    .number-cart {
        margin-left: -14px ;
        margin-top: 53% ;
    }
    .box-next-change {
        margin-left: 86%;
    }
    .package-reference2 .box-next-change {
        margin-left: 80% !important;
    }
    .btn-min-slider {
        margin-top: -13.2%!important;
        margin-left: 21%!important;
    }
    .btn-max-slider {
        margin-top: -13.4%;
        margin-left: 66%;
    }
    .slider-value {
        margin-left: 17%!important;
    }
}
@media (max-width: 320px) {
    .confirm-order {
        .content-left {
            .content-title {
                font-size: 12px;
            }
        }
    }
    .number-cart {
        margin-left: 33px!important;
        margin-top: -31%!important;
    }
    .slider-value {
        margin-left: 10%!important;
    }
    .box-next-change {
        margin-left: 85%;
        margin-top: -60%;
    }
    .box-prev-change {
        margin-top: -60%;
    }
    .package-reference2 .box-next-change {
        margin-left: 78% !important;
        margin-top: -60%;
    }
    .package-reference2 .box-prev-change {
        margin-top: -60%;
    }
    .btn-min-slider {
        margin-top: -14% !important;
        margin-left: 20.5% !important;
    }
    .btn-max-slider {
        margin-top: -14%;
        margin-left: 65%;
    }
}